extends /pages/index

block instance
    -
        vefa.define("page--login")
            .data({
                title: "Please log in"
            })

block main_nav


block content
    include /strata/strata--centered
        mixin strata_view
            include /forms/fm--login


block postmain
