extends /site/general

block instance
    -
        vefa.define({
            class: "page--login",
            data: {
                title: "Please log in"
            },
        })


block main_nav



block premain
    include /posters/text
        -
            vefa
                .data(
                    { title: site.title }
                )
                .mixin({
                    element: {
                        class: "thm--texture",
                        "o-base": "ord--next",
                        "o-extended": "gxi--b"
                    }
                })



block content
    .strata(
        o-base="mod--balance row--pMiddle--sMiddle"
    )
        include /forms/fm--login
