extends /site/index

block instance
    -
        vefa.define({
            class: "page--login",
            data: {
                title: "Please log in"
            },
        })


block main_nav


block content
    .strata(
        o-base="mod--balance row--pMiddle--sMiddle"
    )
        include /forms/fm--login
