extends /site/list

block instance
    -
        vefa.define("list--partners")
            .data({
                title: partners.title,
                impact_color: "co--partners",
                impact_theme: "thm--partners",
                icon: "partners",
                content_type: "partners",
                results: "partners.object_list",

                slug: routes.partners.slug,
                summary: partners.summary,
                results_collection: partners.fixtures,
                list_type: "partners",  
            })


block form
    include /partners/components/fm--search-partner
    

block results
    +for("partner in partners.object_list")
        include components/card--result-partner

        +empty()
            p No matching partners
