extends /site/list

block props
    - 
        page.data({
            title: wrap_str(partners.title),
            slug: routes.partners.slug,
            summary: partners.summary,
            results_collection: partners.fixtures,
            icon: "partners",
            list_type: "partners"
        })


prepend preview
    -
        poster = new Vefa()
            .mix({
                element: {
                    class: "co--partners",
                }
            })


block form
    include /partners/components/fm--search-partner
    


block results
    div(
        o-base="rhy--yStart100"
    )
        if django
            
            +for("partner in partners.object_list")
                include components/partner_result

                +empty()
                    p No matching partners
        
        else
            for item in page.data.results_collection
                include components/partner_result

    
        