extends /page_types/list

block instance
    -
        vefa.define({
            class: "list--partners",
            data: {
                title: partners.title,
                slug: routes.partners.slug,
                summary: partners.summary,
                results_collection: partners.fixtures,
                poster_color: "co--partners",
                icon: "partners",
                list_type: "partners",
                
            }
        })


block form
    include /partners/components/fm--search-partner
    


block results
    if django
        
        +for("partner in partners.object_list")
            include components/card--result-partner

            +empty()
                p No matching partners
