extends /site/list

block props
    - 
        page.data({
            title: partners.title,
            slug: routes.partners.slug,
            summary: partners.summary,
            results_collection: partners.fixtures,
            icon: "partners"
        })


prepend preview
    -
        poster = new Vefa()
            .mix({
                element: {
                    class: "co--partners",
                }
            })


prepend form
    - 
        form = new Vefa()
            .instance({
                element: {
                    class: "thm--partners"
                }
            })
            .data({
               fieldsets: partners.fm_search
            })


block results
    div(
        o-base="rhy--yStart100"
    )
        for item in page.data.results_collection
            include partners_result
