extends _abstract

block subclass
    -
        vefa.define("copy--card-lede")
            .dom({
                element: {
                    "o-base": "mod--static pad--x50 rhy--yStart50",
                    "o-standard": "pad--x25"
                },
                hdr: {},
                hed: {
                    class: "tx--hed--f1--100"
                },
                bd: {
                    class: "tx--maj"
                },
            })
