extends _abstract

block subclass
    -
        vefa
            .define({
                class: "copy--card-lede",
                element: {
                    "o-base": "mod--static pad--xy50 rhy--yStart50",
                },
                hdr: {},
                hed: {
                    class: "tx--hed--f1--100"
                },
                bd: {
                    class: "tx--maj"
                },
            })
