extends _abstract

block subclass
    -
        vefa
            .define({
                class: "copy--card",
                element: {
                    "o-base": "mod--static pad--x50 pad--y25",
                },
                hdr: {},
                hed: {
                    class: "tx--maj--f1--100"
                },
            })
