extends _abstract

block subclass
    -
        vefa.define("copy--card")
            .dom({
                element: {
                    "o-base": "mod--static pad--x25 pad--y25",
                    "o-standard": "pad--x50"
                },
                hdr: {},
                hed: {
                    class: "tx--maj--f1--100"
                },
            })
