.copy
    a
        text-decoration: underline
        font-weight: 400
        transition-duration: config.fx.quick.time
        transition-timing-function: config.fx.quick.func
        transition-property: color

        &:hover
            color: co.brand_2.base

    li
        list-style: circle inside

    h2
        margin-top: bvr(2)
        font-size: larger
        color: co.neutral.base
        
        + *
            margin-top: bvr(.25)
