.copy
    a
        text-decoration: underline
        font-weight: 400
        transition-duration: config.fx.quick.time
        transition-timing-function: config.fx.quick.func
        transition-property: color

        &:hover
            color: co.brand_2.base

