@font-face {
  font-family: 'the_serif';
  src: url("../res/fonts/theserifb-w5plain.woff") format("woff"), url("../res/fonts/theserifb-w5plain.woff2") format("woff2");
}
@font-face {
  font-family: 'the_serif';
  src: url("../res/fonts/theserifb-w7bold.woff") format("woff"), url("../res/fonts/theserifb-w7bold.woff2") format("woff2");
  font-weight: 700;
}
[class*='thm--light'] {
  background-color: #fff;
  color: #333;
  border-color: rgba(0, 83, 158, .12);
}
.thm--light-alt {
  background-color: #f7f9f9;
}
.thm--dark {
  background-color: #00539e;
  color: #fff;
}
.thm--dark .co--ctrl,
.thm--dark .co--pri {
  color: currentColor;
}
.thm--dark .co--pri[class*="fx--"]:hover,
.thm--dark .co--ctrl:hover,
.thm--dark .co--pri[class*="fx--"].is-reacting,
.thm--dark .co--ctrl.is-reacting {
  color: #f8aa56;
}
.thm--dark .co--pri[class*="fx--"]:active,
.thm--dark .co--ctrl:active,
.thm--dark .co--pri[class*="fx--"].is-active,
.thm--dark .co--ctrl.is-active {
  color: #7aa7ce;
}
.thm--dark [class*="--bTint"],
.thm--dark [o-condensed*="--bTint"],
.thm--dark [o-standard*="--bTint"],
.thm--dark [o-enhanced*="--bTint"] {
  border-color: #7aa7ce;
}
.thm--dark .co--ico:hover,
.thm--dark .co--ico.is-reacting {
  color: #a6c4df;
}
.thm--dark .co--ico:active,
.thm--dark .co--ico.is-active {
  color: #fff;
}
[class*='thm--texture'] {
  color: #fff;
  background-color: #003d7d;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.thm--texture {
  background-image: url("../res/tx.primary.png");
}
[class*='thm--texture-tint'] {
  color: #00539e;
  background-color: #fff;
  background-image: url("../res/tx.light.png");
  border: 1px solid rgba(0, 83, 158, .15);
}
[class*='thm--inactive'] {
  color: #fff;
  background-color: #a7a9ab;
}
[class*='thm--affiliates'] {
  color: #fff;
  background-color: #8b0e04;
}
[class*='thm--programs'] {
  color: #fff;
  background-color: #4b2332;
}
[class*='thm--partners'] {
  color: #fff;
  background-color: #008751;
}
.thm--primary {
  background-color: #00539e;
  color: #fff;
}
.thm--secondary {
  background-color: #e21836;
  color: #fff;
}
.thm--tertiary {
  background-color: #008751;
  color: #fff;
}
.thm--affiliates-shift,
.thm--programs-shift,
.thm--partners-shift {
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .35) 0%, rgba(0, 0, 0, 0) 66%);
}
.thm--warning {
  background-color: #ffce00;
}
[class*='fx--'],
[class*='fx--']::after,
[class*='fx--']::before {
  transition-property: none;
  transition-duration: 0.25s;
  transition-timing-function: ease-in;
}
.fx--shift,
.fx--shift::after,
.fx--shift::before {
  transition-property: background, color, opacity, -webkit-filter;
  transition-property: background, color, filter, opacity;
  transition-property: background, color, filter, opacity, -webkit-filter;
}
.co--affiliates {
  color: #8b0e04;
}
.co--partners {
  color: #008751;
}
.co--programs {
  color: #4b2332;
}
.co--pri {
  color: #00539e;
}
.co--pri.fx--shift:hover,
.co--pri.fx--shift.is-reacting {
  color: #f68e1e;
}
.co--pri.fx--shift:focus,
.co--pri.fx--shift:active,
.co--pri.fx--shift.is-active {
  color: #181411;
}
.co--minor.fx--shift:hover,
.co--minor.fx--shift.is-reacting {
  color: #f68e1e;
}
.co--minor.fx--shift:focus,
.co--minor.fx--shift:active,
.co--minor.fx--shift.is-active {
  color: #181411;
}
hr {
  height: 1px;
  background-clip: content-box;
}
[class*='hl--xy'] {
  border: 1px solid #a7a9ab;
}
[class*='hl--xStart'] {
  border-left: 1px solid #808284;
}
[class*='hl--xEnd'] {
  border-right: 1px solid #808284;
}
[class*='hl--yStart'] {
  border-top: 1px solid #a7a9ab;
}
[class*='hl--yEnd'] {
  border-bottom: 1px solid #a7a9ab;
}
[class*='--bTint'] {
  border-color: #d3d4d5;
}
.rxn--affiliates:hover,
.rxn--affiliates.is-reacting,
.rxn--affiliates:active,
.rxn--affiliates.is-active {
  background: #8b0e04;
}
.rxn--programs:hover,
.rxn--programs.is-reacting,
.rxn--programs:active,
.rxn--programs.is-active {
  background: #4b2332;
}
.rxn--partners:hover,
.rxn--partners.is-reacting,
.rxn--partners:active,
.rxn--partners.is-active {
  background: #008751;
}
[class*='rxn--ctrl-'] {
  color: #fff;
}
[class*='rxn--ctrl-'][class*="fx--"]:hover,
[class*='rxn--ctrl-'][class*="fx--"].is-reacting {
  background: #808284;
}
.rxn--ctrl-download {
  background: #3d735c;
}
.rxn--ctrl-impt {
  background: #f68e1e;
}
.rxn--ctrl-impt:focus,
.rxn--ctrl-impt:active,
.rxn--ctrl-impt.is-active {
  background: #4e8abe;
}
.rxn--ctrl-neutral[class*="fx--"]:hover,
.rxn--ctrl-neutral[class*="fx--"].is-reacting {
  color: #fff;
  background: #4e8abe;
}
.rxn--ctrl-neutral:focus,
.rxn--ctrl-neutral:active,
.rxn--ctrl-neutral.is-active {
  color: #181411;
  background: rgba(78, 138, 190, .1);
}
[o-base~='rxn--ctrl-neutral'][class*="fx--"]:hover,
[o-base~='rxn--ctrl-neutral'][class*="fx--"].is-reacting {
  color: #fff;
  background: #4e8abe;
}
[o-base~='rxn--ctrl-neutral']:focus,
[o-base~='rxn--ctrl-neutral']:active,
[o-base~='rxn--ctrl-neutral'].is-active {
  color: #181411;
  background: rgba(78, 138, 190, .1);
}
.rxn--ctrl-shade[class*="fx--"]:hover,
.rxn--ctrl-shade[class*="fx--"].is-reacting {
  color: #fff;
  background: rgba(24, 20, 17, .4);
}
.rxn--ctrl-shade[class*="fx--"]:focus,
.rxn--ctrl-shade[class*="fx--"]:active,
.rxn--ctrl-shade[class*="fx--"].is-active {
  background: rgba(24, 20, 17, .6);
}
[class*='tx--broadside'] {
  font-size: 32px;
  line-height: 36px;
}
[class*='tx--display'] {
  font-size: 1.984rem;
  line-height: 1.134286974604575;
}
[class*='tx--hed'] {
  font-size: 1.587rem;
  line-height: 1.260289078807451;
}
[class*='tx--subhed'] {
  font-size: 1.27rem;
  line-height: 1.378427607935805;
}
[class*='tx--maj'] {
  font-size: 1.172rem;
  line-height: 1.28;
}
[class*='tx--base'] {
  font-size: 1rem;
  line-height: 1.5;
}
[class*='tx--small'] {
  font-size: 0.813rem;
  line-height: 1.846153846153846;
}
[class*='tx--chrome'] {
  font-size: 0.75rem;
  line-height: 1.666666666666667;
}
.copy a {
  text-decoration: underline;
  font-weight: 400;
  transition-duration: 0.25s;
  transition-timing-function: ease-in;
  transition-property: color;
}
.copy a:hover {
  color: #f68e1e;
}
.copy li {
  list-style: circle inside;
}
html {
  background: #fff;
  font-size: 1rem;
  line-height: 1.5;
  height: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  color: #333;
  font-family: the_serif;
}
main {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}
.gx--search {
  grid-template-areas: "a" "b";
}
[class*='gxi--title'] {
  grid-area: title;
}
[class*='gxi--overview'] {
  grid-area: overview;
}
[class*='gxi--services'] {
  grid-area: services;
}
[class*='gxi--network'] {
  grid-area: network;
}
[class*='gxi--service-tier'] {
  grid-area: service-tier;
}
[class*='gxi--ebr'] {
  grid-area: ebr;
}
[class*='gxi--state'] {
  grid-area: state;
}
[class*='gxi--students'] {
  grid-area: students;
}
[class*='gxi--budget'] {
  grid-area: budget;
}
.site-logo {
  width: 50vw;
  max-width: 120px;
}
.site-logo--solo {
  max-width: 44px;
}
.colophon-brand {
  pointer-events: auto;
}
.colophon-nav {
  -ms-grid-columns: (minmax(125px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  grid-gap: 0;
}
.masthead-nav-ctrl {
  font-size: 18px;
  line-height: 1;
  overflow: hidden;
}
[class*='poster--'] {
  position: relative;
  overflow: hidden;
}
.poster--text {
  overflow: visible;
}
.poster--icon,
.poster--details {
  -ms-grid-columns: auto 1fr 1fr;
      grid-template-columns: auto 1fr 1fr;
  grid-template-areas: "a b b" "a c c";
  grid-gap: 0 6px;
}
.poster-icon {
  line-height: 1;
}
.ctrl--action-submit {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="10" /><feOffset dx="1" dy="1" result="offsetblur" /><feFlood flood-color="rgba(255,255,255,0.5)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1" /><feFuncG type="linear" slope="1" /><feFuncB type="linear" slope="1" /></feComponentTransfer></filter></svg>#filter');
  -webkit-filter: drop-shadow(0 0 10px rgba(255, 255, 255, .5)) brightness(100%);
          filter: drop-shadow(0 0 10px rgba(255, 255, 255, .5)) brightness(100%);
}
.ctrl--action-submit:hover,
.ctrl--action-submit.is-reacting {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="10" /><feOffset dx="1" dy="1" result="offsetblur" /><feFlood flood-color="rgba(255,255,255,0)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1" /><feFuncG type="linear" slope="1" /><feFuncB type="linear" slope="1" /></feComponentTransfer></filter></svg>#filter');
  -webkit-filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0)) brightness(100%);
          filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0)) brightness(100%);
}
.ico {
  height: 1em;
  width: 1em;
  line-height: 1;
  overflow: hidden;
}
svg[o-base*='ico--xs'],
[o-base*='ico--xs'] > .ico {
  height: 0.75em;
  width: 0.75em;
}
svg[class*='ico--s'],
[class*='ico--s'] > .ico {
  height: 1.5em;
  width: 1.5em;
}
svg[o-base*='ico--md'],
[o-base*='ico--md'] > .ico {
  height: 1.75em;
  width: 1.75em;
}
svg[class*='ico--l'],
[class*='ico--l'] > .ico {
  height: 2em;
  width: 2em;
}
svg[o-base*='ico--l'],
[o-base*='ico--l'] > .ico {
  height: 2em;
  width: 2em;
}
svg[class*='ico--xl'],
[class*='ico--xl'] > .ico {
  height: 2.5em;
  width: 2.5em;
}
.fm-field--single label::after,
.fm-field--multi label::after {
  left: 0;
  right: 0;
}
.fm-field--single input,
.fm-field--multi input {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
.card--coreservices .gx--auto {
  -ms-grid-columns: (minmax(52px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(52px, 1fr));
  -ms-grid-rows: (minmax(52px, 1fr))[auto-fill];
      grid-template-rows: repeat(auto-fill, minmax(52px, 1fr));
  grid-gap: 3px;
}
.card--ebr {
  max-width: 180px;
  overflow: hidden;
}
.card--ebr .ico--ebr {
  height: 80px;
  width: 80px;
}
.slide-up-enter-active {
  transition: all 0.3s ease;
}
.slide-up-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}
[class*='page-ctrl'] {
  min-width: 2em;
  min-height: 2em;
}
[class*='page-ctrl'].is-disabled {
  color: #003d7d;
  background: #fff;
  opacity: 0.5;
}
[class*='page-ctrl'].is-current {
  color: #003d7d;
  background: #fff;
  border: 1px solid #003d7d;
}
.gx--result-affiliate {
  grid-template-areas: "title      title       title   title" "state      state       state   profile" "students   students    budget  budget";
  -ms-grid-columns: (1fr)[3] max-content;
      grid-template-columns: repeat(3, 1fr) max-content;
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
  grid-gap: 1px;
}
.gx--result-programs {
  grid-template-areas: "title      title       title" "network    network     services" "overview   overview    services" "ebr        ebr         services";
  -ms-grid-columns: max-content 1fr max-content;
      grid-template-columns: max-content 1fr max-content;
  grid-gap: 1px;
}
.gx--result-partner {
  grid-template-areas: "title      title           title" "network    service-tier    service-tier" "overview   overview        services";
  -ms-grid-columns: max-content 1fr max-content;
      grid-template-columns: max-content 1fr max-content;
  grid-gap: 1px;
}
@media only screen and (min-width: 0px) {
  .masthead-nav-ctrl {
    font-size: 25px;
    font-size: calc( 0.875vw + 18px);
  }
}
@media only screen and (min-width: 480px) {
  [o-compressed~='rxn--ctrl-neutral'][class*="fx--"]:hover,
  [o-compressed~='rxn--ctrl-neutral'][class*="fx--"].is-reacting {
    color: #fff;
    background: #4e8abe;
  }
  [o-compressed~='rxn--ctrl-neutral']:focus,
  [o-compressed~='rxn--ctrl-neutral']:active,
  [o-compressed~='rxn--ctrl-neutral'].is-active {
    color: #181411;
    background: rgba(78, 138, 190, .1);
  }
  [class*='tx--broadside'] {
    font-size: 44px;
    font-size: calc( 5.254vw + 6.78px);
    line-height: 51px;
    line-height: calc( 6.25vw + 6px);
  }
  .gx--result-programs {
    grid-template-areas: "title      title       network" "ebr        overview    overview" "services   services    services";
    -ms-grid-columns: minmax(100px, 180px) 2fr minmax(0, max-content);
        grid-template-columns: minmax(100px, 180px) 2fr minmax(0, max-content);
    -ms-grid-rows: auto auto 1fr;
        grid-template-rows: auto auto 1fr;
  }
}
@media only screen and (min-width: 660px) {
  [o-condensed*='hl--xStart'] {
    border-left: 1px solid #808284;
  }
  [o-condensed*='--bTint'] {
    border-color: #d3d4d5;
  }
  [o-condensed~='rxn--ctrl-neutral'][class*="fx--"]:hover,
  [o-condensed~='rxn--ctrl-neutral'][class*="fx--"].is-reacting {
    color: #fff;
    background: #4e8abe;
  }
  [o-condensed~='rxn--ctrl-neutral']:focus,
  [o-condensed~='rxn--ctrl-neutral']:active,
  [o-condensed~='rxn--ctrl-neutral'].is-active {
    color: #181411;
    background: rgba(78, 138, 190, .1);
  }
  [o-condensed*='tx--display'] {
    font-size: 1.984rem;
    line-height: 1.134286974604575;
  }
  [o-condensed*='tx--subhed'] {
    font-size: 1.27rem;
    line-height: 1.378427607935805;
  }
  .site-logo {
    max-width: 160px;
  }
  .gx--result-affiliate {
    grid-template-areas: "title title title title profile" "state students students budget budget";
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
  .gx--result-programs {
    grid-template-areas: "title      title       network" "ebr        overview    overview" "ebr        services    services";
  }
  .gx--result-partner {
    grid-template-areas: "title      title" "overview   service-tier" "overview   network" "overview   services";
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    -ms-grid-rows: auto auto auto 1fr;
        grid-template-rows: auto auto auto 1fr;
  }
}
@media only screen and (min-width: 768px) {
  [o-standard*='hl--xStart'] {
    border-left: 1px solid #808284;
  }
  [o-standard*='--bTint'] {
    border-color: #d3d4d5;
  }
  [o-standard~='rxn--ctrl-neutral'][class*="fx--"]:hover,
  [o-standard~='rxn--ctrl-neutral'][class*="fx--"].is-reacting {
    color: #fff;
    background: #4e8abe;
  }
  [o-standard~='rxn--ctrl-neutral']:focus,
  [o-standard~='rxn--ctrl-neutral']:active,
  [o-standard~='rxn--ctrl-neutral'].is-active {
    color: #181411;
    background: rgba(78, 138, 190, .1);
  }
  .colophon-nav-item:first-child {
    border: 0;
  }
  .poster--icon,
  .poster--details {
    grid-gap: 0 12px;
  }
  svg[o-standard*='ico--base'],
  [o-standard*='ico--base'] > .ico {
    height: 1em;
    width: 1em;
  }
  .gx--result-partner {
    grid-template-areas: "title      service-tier" "overview   network" "overview   services";
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    -ms-grid-rows: auto auto 1fr;
        grid-template-rows: auto auto 1fr;
  }
}
@media only screen and (min-width: 960px) {
  .thm--texture {
    background-image: url("../res/tx.primary@2x.png");
  }
  [class*='thm--texture-tint'] {
    background-image: url("../res/tx.light@2x.png");
  }
  [o-enhanced*='hl--xEnd'] {
    border-right: 1px solid #808284;
  }
  [o-enhanced*='--bTint'] {
    border-color: #d3d4d5;
  }
  [o-enhanced~='rxn--ctrl-neutral'][class*="fx--"]:hover,
  [o-enhanced~='rxn--ctrl-neutral'][class*="fx--"].is-reacting {
    color: #fff;
    background: #4e8abe;
  }
  [o-enhanced~='rxn--ctrl-neutral']:focus,
  [o-enhanced~='rxn--ctrl-neutral']:active,
  [o-enhanced~='rxn--ctrl-neutral'].is-active {
    color: #181411;
    background: rgba(78, 138, 190, .1);
  }
  [class*='tx--broadside'] {
    font-size: 57.22px;
    line-height: 66px;
  }
  .gx--search {
    -ms-grid-columns: 20vw 1fr;
        grid-template-columns: 20vw 1fr;
    -ms-grid-rows: auto max-content;
        grid-template-rows: auto max-content;
    grid-template-areas: "a b" "a c";
  }
}
@media only screen and (min-width: 1200px) {
  [o-extended~='rxn--ctrl-neutral'][class*="fx--"]:hover,
  [o-extended~='rxn--ctrl-neutral'][class*="fx--"].is-reacting {
    color: #fff;
    background: #4e8abe;
  }
  [o-extended~='rxn--ctrl-neutral']:focus,
  [o-extended~='rxn--ctrl-neutral']:active,
  [o-extended~='rxn--ctrl-neutral'].is-active {
    color: #181411;
    background: rgba(78, 138, 190, .1);
  }
  .gx--result-affiliate {
    grid-template-areas: "title title title title profile" "state state state students budget";
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    grid-gap: 3px;
  }
  .gx--result-programs {
    grid-template-areas: "title      title  network" "overview   ebr    services";
    -ms-grid-columns: 1fr minmax(100px, 180px) minmax(150px, 250px);
        grid-template-columns: 1fr minmax(100px, 180px) minmax(150px, 250px);
    grid-gap: 3px;
  }
  .gx--result-partner {
    grid-template-areas: "title      title           network" "overview   service-tier    services";
    -ms-grid-columns: 1fr minmax(100px, 220px) minmax(150px, 250px);
        grid-template-columns: 1fr minmax(100px, 220px) minmax(150px, 250px);
    grid-gap: 3px;
  }
}
@media only screen and (min-width: 1600px) {
  [o-full*='hl--xy'] {
    border: 1px solid #a7a9ab;
  }
  [o-full*='hl--xy0'] {
    border-width: 0;
  }
  [o-full*='hl--yStart'] {
    border-top: 1px solid #a7a9ab;
  }
  [o-full*='hl--yEnd'] {
    border-bottom: 1px solid #a7a9ab;
  }
  [o-full*='--bTint'] {
    border-color: #d3d4d5;
  }
  [o-full~='rxn--ctrl-neutral'][class*="fx--"]:hover,
  [o-full~='rxn--ctrl-neutral'][class*="fx--"].is-reacting {
    color: #fff;
    background: #4e8abe;
  }
  [o-full~='rxn--ctrl-neutral']:focus,
  [o-full~='rxn--ctrl-neutral']:active,
  [o-full~='rxn--ctrl-neutral'].is-active {
    color: #181411;
    background: rgba(78, 138, 190, .1);
  }
  [o-full*='tx--base'] {
    font-size: 1rem;
    line-height: 1.5;
  }
  [o-full~='gx--ui'] {
    -ms-grid-columns: 80px 2fr 2fr;
        grid-template-columns: 80px 2fr 2fr;
    -ms-grid-rows: auto 1fr auto;
        grid-template-rows: auto 1fr auto;
    grid-template-areas: "a b b" "c d d" "c e e" "f f f";
  }
  .gx--profile {
    -ms-grid-columns: minmax(250px, 500px) 5fr;
        grid-template-columns: minmax(250px, 500px) 5fr;
    -ms-grid-rows: auto max-content;
        grid-template-rows: auto max-content;
    grid-template-areas: "a b" "a c";
  }
  .masthead-nav-ctrl {
    font-size: 32px;
  }
}
