@font-face {
  font-family: 'the_serif';
  src: url("../res/fonts/theserifb-w5plain.woff") format("woff"), url("../res/fonts/theserifb-w5plain.woff2") format("woff2");
}
@font-face {
  font-family: 'the_serif';
  src: url("../res/fonts/theserifb-w7bold.woff") format("woff"), url("../res/fonts/theserifb-w7bold.woff2") format("woff2");
  font-weight: 700;
}
.thm--dark .co--pri[class*="fx--"]:hover,
.thm--dark .co--ctrl:hover,
.thm--dark .co--pri[class*="fx--"].is-reacting,
.thm--dark .co--ctrl.is-reacting {
  color: #f8aa56;
}
.thm--dark .co--pri[class*="fx--"]:active,
.thm--dark .co--ctrl:active,
.thm--dark .co--pri[class*="fx--"].is-active,
.thm--dark .co--ctrl.is-active {
  color: #7aa7ce;
}
.thm--dark .co--ico:hover,
.thm--dark .co--ico.is-reacting {
  color: #a6c4df;
}
.thm--dark .co--ico:active,
.thm--dark .co--ico.is-active {
  color: #fff;
}
[class*='thm--inactive'] {
  color: #fff;
  background: #a7a9ab;
}
.co--pri.fx--shift:hover,
.co--pri.fx--shift.is-reacting {
  color: #f68e1e;
}
.co--pri.fx--shift:focus,
.co--pri.fx--shift:active,
.co--pri.fx--shift.is-active {
  color: #181411;
}
.co--minor.fx--shift:hover,
.co--minor.fx--shift.is-reacting {
  color: #f68e1e;
}
.co--minor.fx--shift:focus,
.co--minor.fx--shift:active,
.co--minor.fx--shift.is-active {
  color: #181411;
}
.rxn--affiliates:hover,
.rxn--affiliates.is-reacting,
.rxn--affiliates:active,
.rxn--affiliates.is-active {
  background: #8b0e04;
}
.rxn--programs:hover,
.rxn--programs.is-reacting,
.rxn--programs:active,
.rxn--programs.is-active {
  background: #4b2332;
}
.rxn--partners:hover,
.rxn--partners.is-reacting,
.rxn--partners:active,
.rxn--partners.is-active {
  background: #008751;
}
[class*='rxn--ctrl-'][class*="fx--"]:hover,
[class*='rxn--ctrl-'][class*="fx--"].is-reacting {
  background: #808284;
}
.rxn--ctrl-impt:focus,
.rxn--ctrl-impt:active,
.rxn--ctrl-impt.is-active {
  background: #4e8abe;
}
.rxn--ctrl-neutral[class*="fx--"]:hover,
.rxn--ctrl-neutral[class*="fx--"].is-reacting {
  color: #fff;
  background: #4e8abe;
}
.rxn--ctrl-neutral:focus,
.rxn--ctrl-neutral:active,
.rxn--ctrl-neutral.is-active {
  color: #181411;
  background: rgba(78, 138, 190, .1);
}
[o-base~='rxn--ctrl-neutral'][class*="fx--"]:hover,
[o-base~='rxn--ctrl-neutral'][class*="fx--"].is-reacting {
  color: #fff;
  background: #4e8abe;
}
[o-base~='rxn--ctrl-neutral']:focus,
[o-base~='rxn--ctrl-neutral']:active,
[o-base~='rxn--ctrl-neutral'].is-active {
  color: #181411;
  background: rgba(78, 138, 190, .1);
}
.rxn--ctrl-shade[class*="fx--"]:hover,
.rxn--ctrl-shade[class*="fx--"].is-reacting {
  color: #fff;
  background: rgba(24, 20, 17, .4);
}
.rxn--ctrl-shade[class*="fx--"]:focus,
.rxn--ctrl-shade[class*="fx--"]:active,
.rxn--ctrl-shade[class*="fx--"].is-active {
  background: rgba(24, 20, 17, .6);
}
html {
  background: #fff;
  font-size: 1rem;
  line-height: 1.5;
  height: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  color: #333;
  font-family: the_serif;
}
@media only screen and (min-width: 0px) {
}
@media only screen and (min-width: 480px) {
  [o-compressed~='rxn--ctrl-neutral'][class*="fx--"]:hover,
  [o-compressed~='rxn--ctrl-neutral'][class*="fx--"].is-reacting {
    color: #fff;
    background: #4e8abe;
  }
  [o-compressed~='rxn--ctrl-neutral']:focus,
  [o-compressed~='rxn--ctrl-neutral']:active,
  [o-compressed~='rxn--ctrl-neutral'].is-active {
    color: #181411;
    background: rgba(78, 138, 190, .1);
  }
}
@media only screen and (min-width: 660px) {
  [o-condensed~='rxn--ctrl-neutral'][class*="fx--"]:hover,
  [o-condensed~='rxn--ctrl-neutral'][class*="fx--"].is-reacting {
    color: #fff;
    background: #4e8abe;
  }
  [o-condensed~='rxn--ctrl-neutral']:focus,
  [o-condensed~='rxn--ctrl-neutral']:active,
  [o-condensed~='rxn--ctrl-neutral'].is-active {
    color: #181411;
    background: rgba(78, 138, 190, .1);
  }
}
@media only screen and (min-width: 768px) {
  [o-standard~='rxn--ctrl-neutral'][class*="fx--"]:hover,
  [o-standard~='rxn--ctrl-neutral'][class*="fx--"].is-reacting {
    color: #fff;
    background: #4e8abe;
  }
  [o-standard~='rxn--ctrl-neutral']:focus,
  [o-standard~='rxn--ctrl-neutral']:active,
  [o-standard~='rxn--ctrl-neutral'].is-active {
    color: #181411;
    background: rgba(78, 138, 190, .1);
  }
}
@media only screen and (min-width: 960px) {
  [o-enhanced~='rxn--ctrl-neutral'][class*="fx--"]:hover,
  [o-enhanced~='rxn--ctrl-neutral'][class*="fx--"].is-reacting {
    color: #fff;
    background: #4e8abe;
  }
  [o-enhanced~='rxn--ctrl-neutral']:focus,
  [o-enhanced~='rxn--ctrl-neutral']:active,
  [o-enhanced~='rxn--ctrl-neutral'].is-active {
    color: #181411;
    background: rgba(78, 138, 190, .1);
  }
}
@media only screen and (min-width: 1200px) {
  [o-extended~='rxn--ctrl-neutral'][class*="fx--"]:hover,
  [o-extended~='rxn--ctrl-neutral'][class*="fx--"].is-reacting {
    color: #fff;
    background: #4e8abe;
  }
  [o-extended~='rxn--ctrl-neutral']:focus,
  [o-extended~='rxn--ctrl-neutral']:active,
  [o-extended~='rxn--ctrl-neutral'].is-active {
    color: #181411;
    background: rgba(78, 138, 190, .1);
  }
}
@media only screen and (min-width: 1600px) {
  [o-full~='rxn--ctrl-neutral'][class*="fx--"]:hover,
  [o-full~='rxn--ctrl-neutral'][class*="fx--"].is-reacting {
    color: #fff;
    background: #4e8abe;
  }
  [o-full~='rxn--ctrl-neutral']:focus,
  [o-full~='rxn--ctrl-neutral']:active,
  [o-full~='rxn--ctrl-neutral'].is-active {
    color: #181411;
    background: rgba(78, 138, 190, .1);
  }
}
