{% extends "pdf_base.html" %}
{% load choice_tags %}
{% block content %}

    <section>
        <h3>Contact information</h3>
        <dl>
            <dt>Contact name</dt>
            <dd>{{ partner.contact_name }}</dd>
            <dt>Contact title</dt>
            <dd>{{ partner.contact_title }}</dd>
            <dt>Contact email</dt>
            <dd><a href="mailto:{{ partner.contact_email }}">{{ partner.contact_email }}</a></dd>
            <dt>Website</dt>
            <dd><a href="{{ partner.website }}">{{ parter.website }}</a></dd>
        </dl>
    </section>

    <section>
        <h3>Mission</h3>
        <p>{{ partner.mission }}</p>
    </section>

    <section>
        <h3>Overview</h3>
        <p>{{ partner.overview }}</p>
    </section>

    <section>
        <h3>Students served</h3>

        <p>Gender</p>
        {% pdf_choices partner.gender "Gender" %}
    </section>

    <section>
        <h3>Setting</h3>
        {% pdf_choices partner.setting "Setting" %}
    </section>

    <section>
        <h3>Service & Tiers of Service</h3>
    </section>

    <section>
        <h3>Tiers of Evidence</h3>
    </section>

    <section>
        <h3>Cost</h3>
        {% if partner.is_cost_free %}
            <p>There are no costs associated with this partner.</p>
        {% else %}
            <p>{{ cost_description }}</p>
        {% endif %}
    </section>

    <section>
        <h3>Core Partnerships</h3>
        <p>This organization is {% if not partner.is_core_partner %}not{% endif %} a core partner organization.</p>
    </section>

    <section>
        <h3>Use in network</h3>
        {% if not partner.network_use.exists %}
            This partner is not used by the Communities In School network.
        {% else %}
            <h3>Featured Affiliates</h3>
            {% for affiliate in partner.featured_network.all %}
            {% endfor %}
           {% for affiliate in partner.network_use.all %}
               <li><a href="{{ affiliate.get_absolute_url }}">{{ affiliate }}</a></li>
           {% endfor %}

        {% endif %}
    </section>

    {% if partner.webinars.exists %}
        <section>
            <h3>Webinars</h3>
            {% for link in partner.webinars.all %}
                <li><a href="{{ link.url }}">{{ link.title}}</a></li>
            {% endfor %}
        </section>
    {% endif %}

    {% if partner.presentations.exists %}
        <section>
            <h3>Presentations</h3>
            {% for link in partner.presentations.all %}
                <li><a href="{{ link.url }}">{{ link.title}}</a></li>
            {% endfor %}
        </section>
    {% endif %}



{% endblock %}
