{% load static choice_tags humanize network_search_tags %}<!DOCTYPE html>
<html langs="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  </head>
  <title>Welcome : Compass</title>{% include 'includes/css.html' %}{% include 'includes/head_js.html' %}{% include 'includes/favicons.html' %}
  <meta name="apple-mobile-web-app-title" content="Compass">
  <meta name="application-name" content="Compass">
  <meta name="theme-color" content="#ffffff">
  <meta name="format-detection" content="telephone=no">
</html>
<body o-base="col--pStart" o-full="gx--ui" dir="ltr" ontouchstart="" onmouseover="">{% include 'includes/icons.html' %}
  <header class="masthead--landing thm--dark" role="banner" o-base="col--pMiddle--sMiddle vx--hidden" o-full="gxi--a vx--shown"><a class="masthead-home rxn--shade40 fx--shift" href="/" o-base="row--pMiddle--sMiddle mod--balance">  
      <h2 class="vx--a11y">Communities In Schools</h2>
      <picture>
        <source srcset="{% static 'res/logo.solo.inverse.png.webp' %}" type="image/webp"><img class="site-logo--solo" src="{% static 'res/logo.solo.inverse.png' %}">
      </picture></a></header>
  <header class="poster--icon row--pStart--sMiddle gx--poster tx--broadside thm--texture" o-base="pad--xStart50 pad--y100 ord--next" o-condensed="pad--y100" o-enhanced="pad--xStart100" o-extended="gxi--b">
    <svg class="ico poster-icon" style="width:200px; height:100px;">
      <use xlink:href="#ico--compass"></use>
    </svg>
  </header>
  <main o-base="col--pStart ord--next" o-extended="gxi--d">
    <nav o-base="gx--i1--gxy0 dx--w100" o-condensed="gx--i3--gxy0">
      <li class="thm--affiliates-shift" o-base="col--pStart"><a class="tx--broadside--f1--100 rxn--tint10 fx--shift" href="{% url 'affiliate_list' %}" o-base="row--pEnd--sEnd mod--balance pad--x50 pad--y100" o-enhanced="pad--x100" o-full="pad--xy200">
          <div o-base="row--pEnd--sMiddle--xAuto iso--yStart200 rhy--xStart50 ico--l" o-condensed="ico--s" o-standard="row--pEnd--sEnd ico--base">
            <svg class="ico--dx250">
              <use xlink:href="#ico--affiliates"></use>
            </svg>
            <div o-base="col--pEnd--sStart--xAuto"><span class="tx--hed" o-condensed="tx--subhed">Search </span><span o-condensed="tx--display">Affiliates</span></div>
          </div></a></li>
      <li class="thm--programs-shift fx--shift" o-base="col--pStart"><a class="tx--broadside--f1--100 rxn--tint10 fx--shift" href="{% url 'program_list' %}" o-base="row--pEnd--sEnd mod--balance pad--x50 pad--y100" o-enhanced="pad--x100" o-full="pad--xy200">
          <div o-base="row--pEnd--sMiddle--xAuto iso--yStart200 rhy--xStart50 ico--l" o-condensed="ico--s" o-standard="row--pEnd--sEnd ico--base">
            <svg class="ico--dx250">
              <use xlink:href="#ico--programs"></use>
            </svg>
            <div o-base="col--pEnd--sStart--xAuto"><span class="tx--hed" o-condensed="tx--subhed">Search </span><span o-condensed="tx--display">Programs</span></div>
          </div></a></li>
      <li class="thm--partners-shift fx--shift" o-base="col--pStart"><a class="tx--broadside--f1--100 rxn--tint10 fx--shift" href="{% url 'partner_list' %}" o-base="row--pEnd--sEnd mod--balance pad--x50 pad--y100" o-enhanced="pad--x100" o-full="pad--xy200">
          <div o-base="row--pEnd--sMiddle--xAuto iso--yStart200 rhy--xStart50 ico--l" o-condensed="ico--s" o-standard="row--pEnd--sEnd ico--base">  
            <svg class="ico--dx250">
              <use xlink:href="#ico--partners"></use>
            </svg>
            <div o-base="col--pEnd--sStart--xAuto"><span class="tx--hed" o-condensed="tx--subhed">Search </span><span o-condensed="tx--display">Partners</span></div>
          </div></a></li>
    </nav>
    <div class="strata" o-base="col--pStart pad--xy50 rhy--yStart100" o-enhanced="pad--xy100" o-extended="col--pMiddle--sMiddle mod--balance">
          <div class="copy tx--hed--f1--100 co--pri" o-base="rhy--yStart100" o-enhanced="dx--w60 iso--xAuto"><p>Welcome to Compass. This tool is designed to help Communities In Schools staff find and connect with affiliates and state offices across the network;
engage with nationally vetted partnerships; and identify evidence-based programs being delivered with fidelity at the local<span class="widont">&nbsp;</span>level.</p>
<h2 id="how-does-it-work">How does it<span class="widont">&nbsp;</span>work?</h2>
<ul>
<li><strong>Affiliates</strong>: Search by affiliate size, model implementation, student unique needs, budget, or other key<span class="widont">&nbsp;</span>indicators.</li>
<li><strong>Programs</strong>: Search by demographics and program details, including tiers of<span class="widont">&nbsp;</span>evidence.</li>
<li><strong>Partners</strong>: Search by grade, core service category, tiers of service and organizational<span class="widont">&nbsp;</span>reach.</li>
</ul>
<p>To begin a search, click on any of the three labeled tabs: Affiliates, Programs, or<span class="widont">&nbsp;</span>Partners.</p>

          </div>
    </div>
  </main>
  <div o-base="ord--next" o-extended="gxi--e">
    <div class="strata thm--light-alt hl--yStart--bTint" o-base="col--pStart pad--xy50 rhy--yStart100" o-enhanced="pad--xy100 pad--xy100">
      <aside class="tx--maj--f1--100" o-base="col--pMiddle--sMiddle rhy--yStart25" o-condensed="row--pEnd--sMiddle rhy--xStart50">
        <p>Let us know what you think:</p><a class="ctrl--action-impt fx--shift tx--small--f3--100--tcU rxn--ctrl-impt" href="https://www.cognitoforms.com/CommunitiesInSchools1/CompassFeedback" target="_blank" rel="noopener noreferrer" o-base="row--pMiddle--sMiddle--xAuto pad--x50 rhy--xStart25 pad--y25"><span>Contact</span></a>
      </aside>
    </div>
  </div>
  <nav class="masthead--nav thm--dark" role="navigation" o-base="row--pStart pad--xStart50 ord--start z--masthead" o-enhanced="pad--xStart100 pad--xEnd50" o-full="gxi--c pad--xy0">   <a class="masthead-home" href="/" o-base="row--pMiddle--sMiddle--xAuto mod--fit pad--y50 iso--xEndAuto" o-condensed="pad--y25" o-full="vx--hidden">  
      <picture>
        <source srcset="{% static 'res/logo.full.inverse.png.webp' %}" type="image/webp"><img class="site-logo" src="{% static 'res/logo.full.inverse.png' %}">
      </picture></a>
    <nav o-base="row--pStart--xAuto" o-enhanced="hl--xEnd--bTint" o-full="col--pStart hl--xy0 hl--yStart--bTint">{% url 'affiliate_list' as slug %}
      <li class="nav-item--static--icon masthead-nav-item hl--xStart--bTint" o-base="col--pStart--xAuto mod--static" o-full="hl--xy0 hl--yEnd--bTint hl--xy0 hl--yEnd--bTint"><a class="{% if slug in request.path %}is-active {% endif %} rxn--affiliates masthead-nav-ctrl tx--display--taMiddle--f1--100 fx--shift" href="{% url 'affiliate_list' %}" o-base="row--pStart--sMiddle pad--xy50 ico--md">
          <svg class="ico">
            <use xlink:href="#ico--affiliates"></use>
          </svg><span class="vx--a11y">Affiliates</span></a></li>{% url 'program_list' as slug %}
      <li class="nav-item--static--icon masthead-nav-item hl--xStart--bTint" o-base="col--pStart--xAuto mod--static" o-full="hl--xy0 hl--yEnd--bTint hl--xy0 hl--yEnd--bTint"><a class="{% if slug in request.path %}is-active {% endif %} rxn--programs masthead-nav-ctrl tx--display--taMiddle--f1--100 fx--shift" href="{% url 'program_list' %}" o-base="row--pStart--sMiddle pad--xy50 ico--md">
          <svg class="ico">
            <use xlink:href="#ico--programs"></use>
          </svg><span class="vx--a11y">Programs</span></a></li>{% url 'partner_list' as slug %}
      <li class="nav-item--static--icon masthead-nav-item hl--xStart--bTint" o-base="col--pStart--xAuto mod--static" o-full="hl--xy0 hl--yEnd--bTint hl--xy0 hl--yEnd--bTint"><a class="{% if slug in request.path %}is-active {% endif %} rxn--partners masthead-nav-ctrl tx--display--taMiddle--f1--100 fx--shift" href="{% url 'partner_list' %}" o-base="row--pStart--sMiddle pad--xy50 ico--md">
          <svg class="ico">
            <use xlink:href="#ico--partners"></use>
          </svg><span class="vx--a11y">Partners</span></a></li>
    </nav>
  </nav>
  <footer class="colophon tx--f3--100 thm--dark" role="contentinfo" o-base="pad--x50 pad--y100 rhy--yStart100 ord--end" o-standard="row--pGrid--sTop rhy--xStart100" o-enhanced="pad--x100" o-full="gxi--f pad--y200"><a class="colophon-brand" href="/" o-base="mod--static pad--yEnd50 iso--yEnd50 z--masthead">  
      <picture>
        <source data-srcset="{% static 'res/logo.full.inverse.png.webp' %}" type="image/webp"><img class="site-logo lazyload" data-src="{% static 'res/logo.full.inverse.png' %}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
      </picture></a>
    <div class="colophon-site" o-base="mod--balance" o-standard="col---pStart--sEnd">
      <nav class="colophon-nav hl--yEnd--bTint" o-base="pad--yEnd50 iso--yEnd50 gx--colophon" o-standard="row--pEnd--sMiddle--xAuto">
        <li class="nav-item--static colophon-nav-item" o-base="row--pStart--sMiddle--xAuto" o-standard="pad--x25 pad--xEdges0 hl--xStart--bTint"><a class="colophon-nav-ctrl co--ctrl fx--shift" href="https://resources.communitiesinschools.org" target="_blank" o-base="mod--fill pad--y10" o-condensed="tx--taMiddle pad--y0"><span>Resources</span></a></li>
        <li class="nav-item--static colophon-nav-item" o-base="row--pStart--sMiddle--xAuto" o-standard="pad--x25 pad--xEdges0 hl--xStart--bTint"><a class="colophon-nav-ctrl co--ctrl fx--shift" href="https://www.communitiesinschools.org/terms/" target="_blank" o-base="mod--fill pad--y10" o-condensed="tx--taMiddle pad--y0"><span>Terms of Service</span></a></li>
        <li class="nav-item--static colophon-nav-item" o-base="row--pStart--sMiddle--xAuto" o-standard="pad--x25 pad--xEdges0 hl--xStart--bTint"><a class="colophon-nav-ctrl co--ctrl fx--shift" href="https://www.communitiesinschools.org/privacy-policy/" target="_blank" o-base="mod--fill pad--y10" o-condensed="tx--taMiddle pad--y0"><span>Privacy Policy</span></a></li>
        <li class="nav-item--static colophon-nav-item" o-base="row--pStart--sMiddle--xAuto" o-standard="pad--x25 pad--xEdges0 hl--xStart--bTint"><a class="colophon-nav-ctrl co--ctrl fx--shift" href="{% url 'admin:index' %}" target="_blank" o-base="mod--fill pad--y10" o-condensed="tx--taMiddle pad--y0"><span>Admin</span></a></li>
      </nav>
      <address class="contactinfo--inline" o-condensed="rhy--yStart25">
        <div class="contactinfo-group" o-base="col--pStart" o-condensed="row--pEnd">
          <h5 class="contactinfo-item--name">Communities In Schools<a href="https://plus.google.com/113213116668578078182" rel="publisher">  </a>
          </h5>
          <div class="contactinfo-item--address" o-condensed="pad--xStart25 iso--xStart25 hl--xStart--bTint">2345 Crystal Drive, Suite 700
Arlington, VA 22202
            
          </div>
        </div>
        <div class="contactinfo-group" o-base="col--pStart" o-condensed="row--pEnd"><a class="contactinfo-item--email" href="mailto:resourcenavigators@cisnet.org?subject=CIS Compass Inquiry" target="_top">Questions? Reach out here.</a></div>
      </address>
    </div>
  </footer>{% include 'includes/footer_js.html' %}
</body>