include /_vefa

-
    card = card || new Vefa()

    card
        .define({
            class: "card"
        })

block model
- card = card.$freeze()



block view
    block hdr
    block bd
    block ftr

- card = card.$thaw()
