extends /_vefa

block init
    -
        vefa = new Vefa({
            class: "card",
            data: {
                exists: "True",
                impact_theme: (page && page.impact_theme) ? page.impact_theme : "",
                impact_color: (page && page.impact_color) ? page.impact_color : "",
            },
            element: {
                "o-base": "col--pStart"
            },
            hdr: {
                "o-base": "row--pGrid--sMiddle mod--static pad--x50 pad--y25"
            },
            hed: {
                class: "tx--maj--f1--100--aa"
            },
            bd: {
                "o-base": "mod--balance pad--xy25 rhy--yStart25"
            }
        })



block view
    +if(card.exists)
        article(
            class=card.class
        )&attributes(card.element)
            
            block hdr
                header&attributes(card.hdr)
                    h1&attributes(card.hed)!= card.heading

                    if card.heading_meta
                        span.tx--caption--f3--400--aa= card.heading_meta

            block bd
                .bd&attributes(card.bd)
                    block content
            
            block ftr
