.card--coreservices
    .gx--auto
        grid-template-columns: repeat(auto-fill, minmax(52px, 1fr))
        grid-template-rows: repeat(auto-fill, minmax(52px, 1fr))
        grid-gap: 3px


.card--ebr
    max-width: 180px
    overflow: hidden

    .ico--ebr
        sq: 80px

    .ctrl--open
        position: absolute
        bottom: bvr(.25)
        right: bvr(.25)
    
    .ctrl--close
        position: absolute
        top: bvr(.25)
        right: bvr(.25)


.card-list
    dt:first-child
        margin-top: 0
