.card--
    &affiliate
        border: co.affiliates

    &partner
        border: co.partners

    &program
        border: co.programs
        // // grid-template-columns: repeat(4, 1fr)
        // // grid-template-areas: 
        // //         "a a a a" \
        // //         "c b b b" \
        // //         "d d e e"
        // // grid-gap: 1px

        // // +over(compressed)
        // //     grid-template-columns: repeat(5, 1fr)
        // //     grid-template-areas: 
        // //         "a a a a a" \
        // //         "c c b b b" \
        // //         "d d e e e"

        // +over(standard)
        //     grid-template-columns: repeat(5, 1fr)
        //     grid-template-areas: 
        //         "a a a b c" \
        //         "d d d e e" \
        //         "d d d f f" \
        //         "d d d g g"
        //     // grid-template-columns: repeat(4, 1fr)
        //     // grid-template-areas: 
        //     //     "a a a a" \
        //     //     "d d d d" \
        //     //     "e e g g" \
        //     //     "f f g g" \
        //     //     "b c g g"
        