.card--coreservices
    .gx--auto
        grid-template-columns: repeat(auto-fill, minmax(52px, 1fr))
        grid-template-rows: repeat(auto-fill, minmax(52px, 1fr))
        grid-gap: 3px


.card--ebr
    max-width: 180px
    overflow: hidden

    .ico--ebr
        sq: 80px

    .ctrl--open
        position: absolute
        bottom: bvr(.25)
        right: bvr(.25)
    
    .ctrl--close
        position: absolute
        top: bvr(.25)
        right: bvr(.25)



.slide-up-enter-active
    transition: all .3s ease

.slide-up-leave-active
    transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0)

.slide-up-enter, .slide-up-leave-to
  transform: translateY(3em)
  opacity: 0
