extends _abstract

block subclass
    -
        vefa
            .define({
                class: "card--copy",
                element: {
                    "o-base": "pad--x50 pad--y25 rhy--yStart50",
                },
                hdr: {},
                hed: {
                    class: "tx--hed--f1--100"
                },
                bd: {},
                data: {
                    heading: "Card Header",
                    copy: "Some content"
                }
            })


block view
    section(
        class=card.class
    )&attributes(card.element)
        
        block hdr
            header&attributes(card.hdr)
                h2&attributes(card.hed)
                    = card.heading
        
        block bd
            .bd&attributes(card.bd)
                != v(card.copy, "linebreaks")
            
