extends data-list


block variant
    -
        vefa.define({
            hdr: {
                "o-base": "pad--x25 pad--y25",
                "o-condensed": "pad--x50"
            },
            hed: {
                class: "tx--subhed--f1--100--aa"
            },
            grid: {
                "o-base": "gx--i3--gxy10 mod--static rhy--yStart0",
                "o-condensed": "gx--i3--gxy10 mod--static rhy--yStart0"
            },
            bd: {
                "o-base": false
            },
            data_key: {
                class: "thm--shade40 tx--small--f3--tcU",
                "o-base": "pad--xy25",
            },
            data_value: {
                class: "thm--tint10 tx--f2--100",
            },
            on_mount () {
                this.data_mapper()
            }
        })
