extends _abstract

block subclass
    -
        vefa.define("card--list-data")
            .data({
                heading: "",
                items: [
                    ["type", "label", "data_member", "category"],
                    ["heading", "Header Label", "test_member"],
                    ["mixin", "Mixin Label", "mixin_name", "test_member"],
                    ["group", "Group Label", "data_member / test_statement", "category"],
                    ["bool", "Boolean Label", "data_member", "yes_value", "no_value"],
                    ["link", "Link Label", "data_member", "display_value"],
                    ["text", "Text Label", "data_member / test_statement", "display_value"],
                ],
            })
            .dom_mix({
                element: {
                    class: "vx--z100",
                },
                item: {
                    class: "thm--tint70 tx--f3--900",
                },
            }) 
            .options({
                on_mount () {
                    this.dom_mix({
                        hdr: {
                            class: this.impact_theme
                        },
                        bd: {
                            class: "thm--shade15"
                        },
                        
                    })

                }
            })

block content
    mixin mixin_name
        p Test mixin

    include /datagrids/base
        -
            vefa.data({items:card.items})
                .dom_mix({
                    grid: {
                        "o-extended": "gdx--gc--gxy10"
                    }
                })
    

block teardown
