{% load static choice_tags humanize network_search_tags %}<!DOCTYPE html>
<html langs="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  </head>
  <title>{{ program }} : CIS Search Tool</title>{% include 'includes/css.html' %}{% include 'includes/head_js.html' %}{% include 'includes/favicons.html' %}
  <meta name="apple-mobile-web-app-title" content="CIS Search Tool">
  <meta name="application-name" content="CIS Search Tool">
  <meta name="theme-color" content="#ffffff">
  <meta name="format-detection" content="telephone=no">
</html>
<body o-base="col--pStart" o-full="gx--ui" dir="ltr" ontouchstart="" onmouseover="">{% include 'includes/icons.html' %}
  <header class="masthead--landing thm--dark" role="banner" o-base="col--pMiddle--sMiddle vx--hidden" o-full="gxi--a vx--shown"><a class="masthead-home rxn--shade40 fx--shift" href="/" o-base="row--pMiddle--sMiddle mod--balance">  
      <h2 class="vx--a11y">Communities In Schools</h2>
      <picture>
        <source srcset="{% static 'res/logo.solo.inverse.png.webp' %}" type="image/webp"><img class="site-logo--solo" src="{% static 'res/logo.solo.inverse.png' %}">
      </picture></a></header>
  <div class="detail-hdr" o-base="col--pStart ord--next" o-extended="row--pStart gxi--b">
    <header class="poster--icon row--pStart--sMiddle gx--poster tx--broadside thm--texture-tint co--programs" o-base="pad--xStart50 pad--y100" o-condensed="pad--y150" o-enhanced="pad--xStart100 pad--y200">
      <svg class="ico poster-icon" o-base="gxi--a">
        <use xlink:href="#ico--programs"></use>
      </svg>
      <h1 class="poster-hed tx--broadside--f1--tcU" o-base="gxi--b">{{ program }}
      </h1>
    </header>
  </div>
  <main o-base="col--pStart ord--next" o-extended="gxi--d">
    <div class="strata--detail gx--profile" o-base="mod--balance">
      <nav class="gxi--breadcrumbs tx--small--f3 hl--yEnd--bTint" o-base="row--pStart--sMiddle" o-standard="row--pGrid--sMiddle">
        <div o-base="row--pStart--sBase mod--balance pad--xy25 rhy--xStart10" o-standard="row--pStart--sBase pad--x50"><a class="co--ctrl fx--shift" href="../" o-base="row--pStart--sMiddle--xAuto rhy--xStart25">Programs</a>
          <svg class="ico ico--xs">
            <use xlink:href="#ico--ctrl-next"></use>
          </svg><span class="tx--trnc">{{ program }}</span>
        </div>
        <div o-base="row--pEnd--sMiddle mod--balance">{% if program.national_partner %}<a class="ctrl--action fx--shift tx--small--f3--tcU rxn--ctrl-neutral" href="{{ program.national_partner.get_absolute_url }}" o-base="row--pMiddle--sMiddle--xAuto pad--x50 rhy--xStart25 pad--y25 iso--xEnd">
                <svg class="ico--dx100">
                  <use href="#ico--partners-sm"></use>
                </svg><span>National Partner</span></a>{% endif %}<a class="ctrl--download fx--shift tx--small--f3--tcU rxn--ctrl-neutral" href="../{{ program.id }}.pdf" download="{{ program }}" o-base="row--pMiddle--sMiddle--xAuto pad--y25 pad--x50 rhy--xStart25">
            <svg class="ico--dx100">
              <use href="#ico--download"></use>
            </svg><span>Report (PDF)</span></a>{% if program.program_weblink %}<a class="ctrl--action fx--shift tx--small--f3--tcU rxn--ctrl-action" href="{{ program.program_weblink|linkable }}" target="_blank" rel="noopener noreferrer" o-base="row--pMiddle--sMiddle--xAuto pad--x50 rhy--xStart25 pad--y25 iso--xEnd">
                      <svg class="ico--dx100">
                        <use href="#ico--link-ext"></use>
                      </svg><span>Website</span></a>{% endif %}
        </div>
      </nav>
      <section class="gxi--a thm--programs" o-base="pad--x25 pad--yStart25 pad--yEnd50 rhy--yStart50" o-standard="pad--x50 rhy--yStart100">{% if True %}
                <article class="card--list-data-inv" o-base="col--pStart">
                  <header o-base="pad--yEnd25">
                    <h1 class="tx--subhed--f1--100--aa">Program Information</h1>
                  </header>
                  <div class="bd" o-base="">{% if True %}
                        <section o-base="col--pStart">
                          <dl class="datagrid-grid" o-extended="gdx--gc--gxy10">{% if program.tiers_of_service %}
                                <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                  <dt class="thm--shade40 tx--small--f3--tcU" o-base="pad--xy25">Tiers of Service</dt>
                                  <dd class="thm--tint10 tx--f2--100" o-base="col--pStart pad--xy25 gxi--gs2" o-condensed="pad--x50">
                                    <ul>{% for val in program.tiers_of_service %}
                                          <li>{{ val|choice_display:'TiersOfService'|capfirst }}
                                          </li>{% endfor %}
                                    </ul>
                                  </dd>
                                </div>{% endif %}{% if program.region_other or program.region %}
                                <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                  <dt class="thm--shade40 tx--small--f3--tcU" o-base="pad--xy25">Region</dt>
                                  <dd class="thm--tint10 tx--f2--100" o-base="col--pStart pad--xy25 gxi--gs2" o-condensed="pad--x50">{% if program.region %}
                                                <ul>{% for val in program.region %}
                                                      <li>{{ val|choice_display:'Regions'|capfirst }}</li>{% endfor %}
                                                </ul>{% endif %}{% if program.region_other %}
                                                <ul>
                                                  <li>{{ program.region_other }}</li>
                                                </ul>{% endif %}
                                  </dd>
                                </div>{% endif %}{% if program.setting %}
                                <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                  <dt class="thm--shade40 tx--small--f3--tcU" o-base="pad--xy25">Setting</dt>
                                  <dd class="thm--tint10 tx--f2--100" o-base="col--pStart pad--xy25 gxi--gs2" o-condensed="pad--x50">
                                    <ul>{% for val in program.setting %}
                                          <li>{{ val|choice_display:'Setting'|capfirst }}
                                          </li>{% endfor %}
                                    </ul>
                                  </dd>
                                </div>{% endif %}{% if program.outcomes %}
                                <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                  <dt class="thm--shade40 tx--small--f3--tcU" o-base="pad--xy25">Outcomes</dt>
                                  <dd class="thm--tint10 tx--f2--100" o-base="col--pStart pad--xy25 gxi--gs2" o-condensed="pad--x50">{{ program.outcomes|safe }}
                                  </dd>
                                </div>{% endif %}{% if True %}
                                <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                  <dt class="thm--shade40 tx--small--f3--tcU" o-base="pad--xy25">Associated Fees</dt>
                                  <dd class="thm--tint10 tx--f2--100" o-base="col--pStart pad--xy25 gxi--gs2" o-condensed="pad--x50">{% if program.is_cost_free %}
                                                <p>Free of Cost</p>{% else %}{% if program.cost_description %}
                                                        <p style="word-break:word;">{{ program.cost_description|safe }}</p>{% endif %}{% endif %}
                                  </dd>
                                </div>{% endif %}{% if program.assessment_available %}
                                <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                  <dt class="thm--shade40 tx--small--f3--tcU" o-base="pad--xy25">Assessment</dt>
                                  <dd class="thm--tint10 tx--f2--100" o-base="col--pStart pad--xy25 gxi--gs2" o-condensed="pad--x50">{% if program.assessment_info %}
                                                <p>{{ program.assessment_info }}</p>{% else %}
                                                    <p>Assessment Available</p>{% endif %}
                                  </dd>
                                </div>{% endif %}
                          </dl>
                        </section>{% endif %}
                  </div>
                </article>{% endif %}
      </section>
      <section class="profile-detail gxi--b" o-base="col--pStart pad--y50 rhy--yStart50" o-condensed="pad--x25" o-extended="gdx--gc2--gxy50 rhy--yStart0">  
        <div o-extended="row--pStart--sStart gxi--gs2 pad--x25 rhy--xStart50">{% load choice_tags %}
          <article class="hl--xy card--ebr" o-base="col--pStart mod--balance pos--rel rhy--yStart50">
            <header class="card-hdr" o-base="ord--start">
              <h5 class="tx--small--f1--100--tcU--taMiddle thm--programs" o-base="pad--x25 pad--y10" o-condensed="pad--x50 pad--y25">Tier of Evidence</h5>
            </header>{% if program.evidence_base != '' %}
                      <div class="card-bd" o-base="row--pMiddle--sMiddle mod--balance pad--x50">
                        <svg class="ico ico--ebr">
                          <use xlink:href="#ico--ebr-{{ program.evidence_base }}"></use>
                        </svg>
                      </div>
                      <footer class="card-ftr tx--f1--100--tcU--ls100--taMiddle co--programs" o-base="pad--x25 pad--y10" o-condensed="pad--x50 pad--y25">{{ program.evidence_base|choice_display:'TiersOfEvidence' }}
                      </footer>{% else %}
                                <div class="card-bd ord--end" o-base="col--pMiddle--sMiddle mod--balance pad--x50 pad--yEnd50">
                                  <h5 class="tx--display--f1 co--programs">N/A</h5>
                                  <p class="tx--chrome--f3" o-base="row--pMiddle--sMiddle rhy--xStart25"><span>Not yet graded.</span></p>
                                </div>{% endif %}
          </article>
          <article class="copy--card-lede" o-base="mod--static pad--x50" o-standard="pad--x25" o-extended="mod--balance">
            <header>
              <h2 class="tx--hed--f1--100 co--programs">Program Description
              </h2>
            </header>
            <div class="bd tx--maj">{{ program.description|linebreaks }}
            </div>
          </article>
        </div>
        <div o-base="col--pStart pad--x25 rhy--yStart50" o-extended="iso--yStart50 rhy--yStart100">{% if True %}
                    <article class="card--list-data vx--z100" o-base="col--pStart">
                      <header class="thm--programs" o-base="row--pGrid--sMiddle mod--static pad--x50 pad--y25">
                        <h1 class="tx--maj--f1--100--aa">Student Demographics</h1>
                      </header>
                      <div class="bd thm--shade15" o-base="mod--balance pad--xy25 rhy--yStart25">{% if True %}
                            <section o-base="col--pStart">
                              <dl class="datagrid-grid" o-extended="gdx--gc--gxy10">{% if program.grade %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Grade Level</dt>
                                      <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">
                                        <ul>{% for val in program.grade %}
                                              <li>{{ val|choice_display:'ProgramGrades'|capfirst }}
                                              </li>{% endfor %}
                                        </ul>
                                      </dd>
                                    </div>{% endif %}{% if program.gender %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Gender</dt>
                                      <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">
                                        <ul>{% for val in program.gender %}
                                              <li>{{ val|choice_display:'Gender'|capfirst }}
                                              </li>{% endfor %}
                                        </ul>
                                      </dd>
                                    </div>{% endif %}{% if program.race %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Race</dt>
                                      <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">
                                        <ul>{% for val in program.race %}
                                              <li>{{ val|choice_display:'Race'|capfirst }}
                                              </li>{% endfor %}
                                        </ul>
                                      </dd>
                                    </div>{% endif %}{% if program.student_need %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Targeted Student Needs</dt>
                                      <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">
                                        <ul>{% for val in program.student_need %}
                                              <li>{{ val|choice_display:'StudentNeeds'|capfirst }}
                                              </li>{% endfor %}
                                        </ul>
                                      </dd>
                                    </div>{% endif %}{% if program.student_characteristics %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Unique Student Characteristics</dt>
                                      <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">
                                        <ul>{% for val in program.student_characteristics %}
                                              <li>{{ val|choice_display:'StudentCharacteristics'|capfirst }}
                                              </li>{% endfor %}
                                        </ul>
                                      </dd>
                                    </div>{% endif %}
                              </dl>
                            </section>{% endif %}
                      </div>
                    </article>{% endif %}
        </div>
        <div o-base="col--pStart pad--x25 rhy--yStart50" o-extended="iso--yStart50 rhy--yStart100">{% if program.featured_network.count > 0 or program.featured_network.count > 0 or program.featured_network.count > 0 or program.featured_network.count > 0 or program.featured_network.count > 0 or program.featured_network.count > 0 or program.network_use.count > 0 or program.network_use.count > 0 or program.network_use.count > 0 or program.network_use.count > 0 or program.network_use.count > 0 %}
                    <article class="card--list-links vx--z100" o-base="col--pStart">
                      <header class="thm--programs" o-base="row--pGrid--sMiddle mod--static pad--x50 pad--y25">
                        <h1 class="tx--maj--f1--100--aa">Used by CIS Network</h1><span class="tx--caption--f3--400--aa">As reported in recent year's EOY data</span>
                      </header>
                      <div class="bd thm--shade15" o-base="mod--balance pad--xy25 rhy--yStart25" is="inline-pagination">
                        <ul slot="bd" o-base="mod--balance rhy--yStart25">{% if program.featured_network %}{% for item in program.featured_network.all %}
                                                        <li class="thm--tint70 tx--f2" v-cloak><a class="link rxn--shade5 fx--shift co--programs" href="{{ item.get_absolute_url }}" o-base="col--pStart--sStart" o-standard="row--pStart--sFull rhy--xStart25"><span class="thm--tint95 hl--xEnd--bTint co--programs" o-base="col--pMiddle--sMiddle--xAuto mod--static pad--x25">
                                                                          <svg class="ico--dx150">
                                                                            <use href="#ico--affiliates"></use>
                                                                          </svg></span><span class="tx--trnc tx--900" o-base="pad--x25 pad--y50">{{ item|truncatechars:72 }}</span></a>
                                                        </li>{% endfor %}{% endif %}{% if program.featured_network %}{% for item in program.featured_network.all %}
                                                            <li class="thm--tint70 tx--f2" v-cloak><a class="link rxn--shade5 fx--shift co--programs" href="{{ item.get_absolute_url }}" o-base="col--pStart--sStart" o-standard="row--pStart--sFull rhy--xStart25"><span class="thm--tint95 hl--xEnd--bTint co--programs" o-base="col--pMiddle--sMiddle--xAuto mod--static pad--x25">
                                                                              <svg class="ico--dx150">
                                                                                <use href="#ico--affiliates"></use>
                                                                              </svg></span><span class="tx--trnc tx--900" o-base="pad--x25 pad--y50">{{ item|truncatechars:72 }}</span></a>
                                                            </li>{% endfor %}{% endif %}{% if program.featured_network %}{% for item in program.featured_network.all %}
                                                            <li class="thm--tint70 tx--f2" v-cloak><a class="link rxn--shade5 fx--shift co--programs" href="{{ item.get_absolute_url }}" o-base="col--pStart--sStart" o-standard="row--pStart--sFull rhy--xStart25"><span class="thm--tint95 hl--xEnd--bTint co--programs" o-base="col--pMiddle--sMiddle--xAuto mod--static pad--x25">
                                                                              <svg class="ico--dx150">
                                                                                <use href="#ico--affiliates"></use>
                                                                              </svg></span><span class="tx--trnc tx--900" o-base="pad--x25 pad--y50">{{ item|truncatechars:72 }}</span></a>
                                                            </li>{% endfor %}{% endif %}{% if program.featured_network %}{% for item in program.featured_network.all %}
                                                            <li class="thm--tint70 tx--f2" v-cloak><a class="link rxn--shade5 fx--shift co--programs" href="{{ item.get_absolute_url }}" o-base="col--pStart--sStart" o-standard="row--pStart--sFull rhy--xStart25"><span class="thm--tint95 hl--xEnd--bTint co--programs" o-base="col--pMiddle--sMiddle--xAuto mod--static pad--x25">
                                                                              <svg class="ico--dx150">
                                                                                <use href="#ico--affiliates"></use>
                                                                              </svg></span><span class="tx--trnc tx--900" o-base="pad--x25 pad--y50">{{ item|truncatechars:72 }}</span></a>
                                                            </li>{% endfor %}{% endif %}{% if program.featured_network %}{% for item in program.featured_network.all %}
                                                            <li class="thm--tint70 tx--f2" v-cloak><a class="link rxn--shade5 fx--shift co--programs" href="{{ item.get_absolute_url }}" o-base="col--pStart--sStart" o-standard="row--pStart--sFull rhy--xStart25"><span class="thm--tint95 hl--xEnd--bTint co--programs" o-base="col--pMiddle--sMiddle--xAuto mod--static pad--x25">
                                                                              <svg class="ico--dx150">
                                                                                <use href="#ico--affiliates"></use>
                                                                              </svg></span><span class="tx--trnc tx--900" o-base="pad--x25 pad--y50">{{ item|truncatechars:72 }}</span></a>
                                                            </li>{% endfor %}{% endif %}{% if program.featured_network %}{% for item in program.featured_network.all %}
                                                            <li class="thm--tint70 tx--f2" v-cloak><a class="link rxn--shade5 fx--shift co--programs" href="{{ item.get_absolute_url }}" o-base="col--pStart--sStart" o-standard="row--pStart--sFull rhy--xStart25"><span class="thm--tint95 hl--xEnd--bTint co--programs" o-base="col--pMiddle--sMiddle--xAuto mod--static pad--x25">
                                                                              <svg class="ico--dx150">
                                                                                <use href="#ico--affiliates"></use>
                                                                              </svg></span><span class="tx--trnc tx--900" o-base="pad--x25 pad--y50">{{ item|truncatechars:72 }}</span></a>
                                                            </li>{% endfor %}{% endif %}{% if program.network_use %}{% for item in program.network_use.all %}{% if item not in program.featured_network.all %}
                                                                        <li class="thm--tint70 tx--f2" v-cloak><a class="link rxn--shade5 fx--shift co--programs" href="{{ item.get_absolute_url }}" o-base="col--pStart--sStart" o-standard="row--pStart--sFull rhy--xStart25"><span class="thm--tint95 co--minor hl--xEnd--bTint" o-base="col--pMiddle--sMiddle--xAuto mod--static pad--x25">
                                                                                          <svg class="ico--dx150">
                                                                                            <use href="#ico--affiliates"></use>
                                                                                          </svg></span><span class="tx--trnc" o-base="pad--x25 pad--y50">{{ item|truncatechars:72 }}</span></a>
                                                                        </li>{% endif %}{% endfor %}{% endif %}{% if program.network_use %}{% for item in program.network_use.all %}{% if item not in program.featured_network.all %}
                                                                        <li class="thm--tint70 tx--f2" v-cloak><a class="link rxn--shade5 fx--shift co--programs" href="{{ item.get_absolute_url }}" o-base="col--pStart--sStart" o-standard="row--pStart--sFull rhy--xStart25"><span class="thm--tint95 co--minor hl--xEnd--bTint" o-base="col--pMiddle--sMiddle--xAuto mod--static pad--x25">
                                                                                          <svg class="ico--dx150">
                                                                                            <use href="#ico--affiliates"></use>
                                                                                          </svg></span><span class="tx--trnc" o-base="pad--x25 pad--y50">{{ item|truncatechars:72 }}</span></a>
                                                                        </li>{% endif %}{% endfor %}{% endif %}{% if program.network_use %}{% for item in program.network_use.all %}{% if item not in program.featured_network.all %}
                                                                        <li class="thm--tint70 tx--f2" v-cloak><a class="link rxn--shade5 fx--shift co--programs" href="{{ item.get_absolute_url }}" o-base="col--pStart--sStart" o-standard="row--pStart--sFull rhy--xStart25"><span class="thm--tint95 co--minor hl--xEnd--bTint" o-base="col--pMiddle--sMiddle--xAuto mod--static pad--x25">
                                                                                          <svg class="ico--dx150">
                                                                                            <use href="#ico--affiliates"></use>
                                                                                          </svg></span><span class="tx--trnc" o-base="pad--x25 pad--y50">{{ item|truncatechars:72 }}</span></a>
                                                                        </li>{% endif %}{% endfor %}{% endif %}{% if program.network_use %}{% for item in program.network_use.all %}{% if item not in program.featured_network.all %}
                                                                        <li class="thm--tint70 tx--f2" v-cloak><a class="link rxn--shade5 fx--shift co--programs" href="{{ item.get_absolute_url }}" o-base="col--pStart--sStart" o-standard="row--pStart--sFull rhy--xStart25"><span class="thm--tint95 co--minor hl--xEnd--bTint" o-base="col--pMiddle--sMiddle--xAuto mod--static pad--x25">
                                                                                          <svg class="ico--dx150">
                                                                                            <use href="#ico--affiliates"></use>
                                                                                          </svg></span><span class="tx--trnc" o-base="pad--x25 pad--y50">{{ item|truncatechars:72 }}</span></a>
                                                                        </li>{% endif %}{% endfor %}{% endif %}{% if program.network_use %}{% for item in program.network_use.all %}{% if item not in program.featured_network.all %}
                                                                        <li class="thm--tint70 tx--f2" v-cloak><a class="link rxn--shade5 fx--shift co--programs" href="{{ item.get_absolute_url }}" o-base="col--pStart--sStart" o-standard="row--pStart--sFull rhy--xStart25"><span class="thm--tint95 co--minor hl--xEnd--bTint" o-base="col--pMiddle--sMiddle--xAuto mod--static pad--x25">
                                                                                          <svg class="ico--dx150">
                                                                                            <use href="#ico--affiliates"></use>
                                                                                          </svg></span><span class="tx--trnc" o-base="pad--x25 pad--y50">{{ item|truncatechars:72 }}</span></a>
                                                                        </li>{% endif %}{% endfor %}{% endif %}
                        </ul>
                      </div>
                    </article>{% endif %}{% if program.national_databases.count > 0 or program.related_resources.count > 0 or program.additional_resources.count > 0 %}
                    <article class="card--list-tagged-links vx--z100" o-base="col--pStart">
                      <header class="thm--programs" o-base="row--pGrid--sMiddle mod--static pad--x50 pad--y25">
                        <h1 class="tx--maj--f1--100--aa">Additional Resources</h1>
                      </header>
                      <div class="bd thm--shade15" o-base="mod--balance pad--xy25 rhy--yStart25">
                        <ul slot="bd" o-base="mod--balance rhy--yStart25">{% if program.national_databases %}{% for item in program.national_databases.all %}
                                                        <li class="thm--tint70 tx--f2"><a class="link rxn--shade5 fx--shift co--programs" href="{{ item.url }}" target="_blank" rel="noopener noreferrer" o-base="col--pStart--sStart" o-standard="row--pStart--sFull rhy--xStart25"><span class="thm--tint95 co--minor hl--xEnd--bTint" o-base="col--pMiddle--sMiddle--xAuto mod--static pad--x25">
                                                                          <svg class="ico--dx100">
                                                                            <use href="#ico--database"></use>
                                                                          </svg></span><span class="tx--trnc" o-base="pad--xy25">{{ item|truncatechars:72 }}</span><small class="tx--caption--f3--100--tcU" o-base="mod--static--aMiddle pad--xy25" o-standard="iso--xStartAuto">National Database</small></a>
                                                        </li>{% endfor %}{% endif %}{% if program.related_resources %}{% for item in program.related_resources.all %}
                                                            <li class="thm--tint70 tx--f2"><a class="link rxn--shade5 fx--shift co--programs" href="{{ item.url }}" target="_blank" rel="noopener noreferrer" o-base="col--pStart--sStart" o-standard="row--pStart--sFull rhy--xStart25"><span class="thm--tint95 co--minor hl--xEnd--bTint" o-base="col--pMiddle--sMiddle--xAuto mod--static pad--x25">
                                                                              <svg class="ico--dx100">
                                                                                <use href="#ico--resource"></use>
                                                                              </svg></span><span class="tx--trnc" o-base="pad--xy25">{{ item|truncatechars:72 }}</span><small class="tx--caption--f3--100--tcU" o-base="mod--static--aMiddle pad--xy25" o-standard="iso--xStartAuto">Resource</small></a>
                                                            </li>{% endfor %}{% endif %}{% if program.additional_resources %}{% for item in program.additional_resources.all %}
                                                            <li class="thm--tint70 tx--f2"><a class="link rxn--shade5 fx--shift co--programs" href="{{ item.url }}" target="_blank" rel="noopener noreferrer" o-base="col--pStart--sStart" o-standard="row--pStart--sFull rhy--xStart25"><span class="thm--tint95 co--minor hl--xEnd--bTint" o-base="col--pMiddle--sMiddle--xAuto mod--static pad--x25">
                                                                              <svg class="ico--dx100">
                                                                                <use href="#ico--link-ext"></use>
                                                                              </svg></span><span class="tx--trnc" o-base="pad--xy25">{{ item|truncatechars:72 }}</span></a>
                                                            </li>{% endfor %}{% endif %}
                        </ul>
                      </div>
                    </article>{% endif %}
        </div>
        <div o-base="col--pStart pad--x25 rhy--yStart50" o-extended="iso--yStart50 gxi--gs2">  {% if True %}
                    <article class="card--coreservices vx--z100" o-base="col--pStart">
                      <header class="thm--programs" o-base="row--pGrid--sMiddle mod--static pad--x50 pad--y25">
                        <h1 class="tx--maj--f1--100--aa">CIS Core Service Categories</h1>
                      </header>
                      <div class="bd thm--shade15" o-base="mod--balance pad--xy25 rhy--yStart25">
                        <ul o-base="mod--balance rhy--yStart25" o-condensed="gx--i2--gxy10 rhy--yStart0" o-standard="gx--i1--gxy25" o-enhanced="gx--i2--gxy10" o-extended="gx--i1--gxy25" o-full="gdx--gc5--grAuto--gxy10">{% for item in program.service_categories %}
                                    <li class="thm--tint70 hl--yEnd--bCurrent co--programs" o-base="col--pMiddle--sMiddle pad--xy50 rhy--yStart50" style="border-width: 2px;">
                                      <div class="co--minor">
                                        <svg class="ico--dx250">
                                          <use href="#ico--{{ item }}"></use>
                                        </svg>
                                      </div><span class="tx--f3--100--taMiddle co--copy">{{ item|choice_display:'CoreServices' }}</span>
                                    </li>{% endfor %}
                        </ul>
                      </div>
                    </article>{% endif %}
        </div>
      </section>
      <aside class="gxi--c">
        <div class="strata thm--light-alt hl--yStart--bTint" o-base="col--pStart pad--xy50 rhy--yStart100" o-enhanced="pad--xy100 pad--xy100">
          <aside class="tx--maj--f1--100" o-base="col--pMiddle--sMiddle rhy--yStart25" o-condensed="row--pEnd--sMiddle rhy--xStart50">
            <p>Please submit your feedback on our new tool:</p><a class="ctrl--action-impt fx--shift tx--small--f3--100--tcU rxn--ctrl-impt" href="'https://www.surveymonkey.com/r/9WVJVGV'" target="_blank" rel="noopener noreferrer" o-base="row--pMiddle--sMiddle--xAuto pad--x50 rhy--xStart25 pad--y25"><span>Contact</span></a>
          </aside>
        </div>
      </aside>
    </div>
  </main>
  <nav class="masthead--nav thm--dark" role="navigation" o-base="row--pStart pad--xStart50 ord--start z--masthead" o-enhanced="pad--xStart100 pad--xEnd50" o-full="gxi--c pad--xy0">   <a class="masthead-home" href="/" o-base="row--pMiddle--sMiddle--xAuto mod--fit pad--y50 iso--xEndAuto" o-condensed="pad--y25" o-full="vx--hidden">  
      <picture>
        <source srcset="{% static 'res/logo.full.inverse.png.webp' %}" type="image/webp"><img class="site-logo" src="{% static 'res/logo.full.inverse.png' %}">
      </picture></a>
    <nav o-base="row--pStart--xAuto" o-enhanced="hl--xEnd--bTint" o-full="col--pStart hl--xy0 hl--yStart--bTint">{% url 'affiliate_list' as slug %}
      <li class="nav-item--static--icon masthead-nav-item hl--xStart--bTint" o-base="col--pStart--xAuto mod--static" o-full="hl--xy0 hl--yEnd--bTint hl--xy0 hl--yEnd--bTint"><a class="{% if slug in request.path %}is-active {% endif %} rxn--affiliates masthead-nav-ctrl tx--display--taMiddle--f1--100 fx--shift" href="{% url 'affiliate_list' %}" o-base="row--pStart--sMiddle pad--xy50 ico--md">
          <svg class="ico">
            <use xlink:href="#ico--affiliates"></use>
          </svg><span class="vx--a11y">Affiliates</span></a></li>{% url 'program_list' as slug %}
      <li class="nav-item--static--icon masthead-nav-item hl--xStart--bTint" o-base="col--pStart--xAuto mod--static" o-full="hl--xy0 hl--yEnd--bTint hl--xy0 hl--yEnd--bTint"><a class="{% if slug in request.path %}is-active {% endif %} rxn--programs masthead-nav-ctrl tx--display--taMiddle--f1--100 fx--shift" href="{% url 'program_list' %}" o-base="row--pStart--sMiddle pad--xy50 ico--md">
          <svg class="ico">
            <use xlink:href="#ico--programs"></use>
          </svg><span class="vx--a11y">Programs</span></a></li>{% url 'partner_list' as slug %}
      <li class="nav-item--static--icon masthead-nav-item hl--xStart--bTint" o-base="col--pStart--xAuto mod--static" o-full="hl--xy0 hl--yEnd--bTint hl--xy0 hl--yEnd--bTint"><a class="{% if slug in request.path %}is-active {% endif %} rxn--partners masthead-nav-ctrl tx--display--taMiddle--f1--100 fx--shift" href="{% url 'partner_list' %}" o-base="row--pStart--sMiddle pad--xy50 ico--md">
          <svg class="ico">
            <use xlink:href="#ico--partners"></use>
          </svg><span class="vx--a11y">Partners</span></a></li>
    </nav>
  </nav>
  <footer class="colophon tx--f3--100 thm--dark" role="contentinfo" o-base="pad--x50 pad--y100 rhy--yStart100 ord--end" o-standard="row--pGrid--sTop rhy--xStart100" o-enhanced="pad--x100" o-full="gxi--f pad--y200"><a class="colophon-brand" href="/" o-base="mod--static pad--yEnd50 iso--yEnd50 z--masthead">  
      <picture>
        <source data-srcset="{% static 'res/logo.full.inverse.png.webp' %}" type="image/webp"><img class="site-logo lazyload" data-src="{% static 'res/logo.full.inverse.png' %}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
      </picture></a>
    <div class="colophon-site" o-base="mod--balance" o-standard="col---pStart--sEnd">
      <nav class="colophon-nav hl--yEnd--bTint" o-base="pad--yEnd50 iso--yEnd50 gx--colophon" o-standard="row--pEnd--sMiddle--xAuto">
        <li class="nav-item--static colophon-nav-item" o-base="row--pStart--sMiddle--xAuto" o-standard="pad--x25 pad--xEdges0 hl--xStart--bTint"><a class="colophon-nav-ctrl co--ctrl fx--shift" href="https://www.communitiesinschools.org/" target="_blank" o-base="mod--fill pad--y10" o-condensed="tx--taMiddle pad--y0"><span>CIS.org</span></a></li>
        <li class="nav-item--static colophon-nav-item" o-base="row--pStart--sMiddle--xAuto" o-standard="pad--x25 pad--xEdges0 hl--xStart--bTint"><a class="colophon-nav-ctrl co--ctrl fx--shift" href="https://resources.communitiesinschools.org" target="_blank" o-base="mod--fill pad--y10" o-condensed="tx--taMiddle pad--y0"><span>Resources</span></a></li>
        <li class="nav-item--static colophon-nav-item" o-base="row--pStart--sMiddle--xAuto" o-standard="pad--x25 pad--xEdges0 hl--xStart--bTint"><a class="colophon-nav-ctrl co--ctrl fx--shift" href="https://www.communitiesinschools.org/terms/" target="_blank" o-base="mod--fill pad--y10" o-condensed="tx--taMiddle pad--y0"><span>Terms of Service</span></a></li>
        <li class="nav-item--static colophon-nav-item" o-base="row--pStart--sMiddle--xAuto" o-standard="pad--x25 pad--xEdges0 hl--xStart--bTint"><a class="colophon-nav-ctrl co--ctrl fx--shift" href="https://www.communitiesinschools.org/privacy-policy/" target="_blank" o-base="mod--fill pad--y10" o-condensed="tx--taMiddle pad--y0"><span>Privacy Policy</span></a></li>
        <li class="nav-item--static colophon-nav-item" o-base="row--pStart--sMiddle--xAuto" o-standard="pad--x25 pad--xEdges0 hl--xStart--bTint"><a class="colophon-nav-ctrl co--ctrl fx--shift" href="https://www.communitiesinschools.org/contact-us/" target="_blank" o-base="mod--fill pad--y10" o-condensed="tx--taMiddle pad--y0"><span>Contact Us</span></a></li>
        <li class="nav-item--static colophon-nav-item" o-base="row--pStart--sMiddle--xAuto" o-standard="pad--x25 pad--xEdges0 hl--xStart--bTint"><a class="colophon-nav-ctrl co--ctrl fx--shift" href="{% url 'admin:index' %}" target="_blank" o-base="mod--fill pad--y10" o-condensed="tx--taMiddle pad--y0"><span>Admin</span></a></li>
      </nav>
      <address class="contactinfo--inline" o-condensed="rhy--yStart25">
        <div class="contactinfo-group" o-base="col--pStart" o-condensed="row--pEnd">
          <h5 class="contactinfo-item--name">Communities In Schools<a href="https://plus.google.com/113213116668578078182" rel="publisher">  </a>
          </h5>
          <div class="contactinfo-item--address" o-condensed="pad--xStart25 iso--xStart25 hl--xStart--bTint">2345 Crystal Drive, Suite 700
Arlington, VA 22202
            
          </div>
        </div>
        <div class="contactinfo-group" o-base="col--pStart" o-condensed="row--pEnd"><a class="contactinfo-item--tel" href="tel:#{ contact.tel.href }" target="_top">Tel:&nbsp;800 CIS 4KIDS (800-247-4543)
            </a><a class="contactinfo-item--email" href="mailto:#{ contact.email }" target="_top" o-condensed="pad--xStart25 iso--xStart25 hl--xStart--bTint">E-mail:&nbsp;info@cisnet.org</a></div>
      </address>
    </div>
  </footer>{% include 'includes/footer_js.html' %}
</body>