extends /forms/fm--search

block instance
    -
        vefa.define({
            class: 'fm--search-affiliate',
            element: {
                class: "thm--affiliates"
            },
            data: {
                fieldsets: affiliates.fm_search
            }
        })
