extends /forms/fm--search

block instance
    -
        vefa.define({
            class: 'fm--search-affiliate',
            data: {
                fieldsets: affiliates.fm_search
            }
        })
