extends /strata/strata

block instance
    -
        vefa
            .dom_mix({
                element: {
                    class: "thm--light-alt hl--yStart--bTint",
                    "o-enhanced": "pad--xy100"
                }
            })


block bd
    aside.tx--maj--f1--100(
        o-base="col--pMiddle--sMiddle rhy--yStart25"
        o-condensed="row--pEnd--sMiddle rhy--xStart50"
    )
        p Let us know what you think:
        
        include /controls/impt
            -
                vefa.data({
                    url: "'https://www.surveymonkey.com/r/9WVJVGV'",
                    label: "Contact",
                    external: true
                })
