svg(
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xml:space="preserve"
    style="display:none"
)
    defs
        - Vefa.set_bus("icon", { use_as_defs: true })
        include /icons/cis
        - Vefa.remove_bus("icon")

    - Vefa.set_bus("icon", { use_as_symbol: true })
    include /icons/aa
    include /icons/affiliates
    include /icons/add
    include /icons/bi
    include /icons/bn
    include /icons/ccp
    include /icons/ccr
    include /icons/cis
    include /icons/ctrl-next
    include /icons/ctrl-prev
    include /icons/csl
    include /icons/en
    include /icons/fe
    include /icons/link-ext
    include /icons/ls
    include /icons/menu-close
    include /icons/menu
    include /icons/next
    include /icons/partners
    include /icons/pmh
    include /icons/pph
    include /icons/programs
    include /icons/remove
    include /icons/info
    include /icons/close
    - Vefa.remove_bus("icon")
