extends /forms/fm--search

block instance
    -
        vefa.define({
            class: 'fm--search-partner',
            data: {
                fieldsets: partners.fm_search
            }
        })
