// ==========================================================================
// Load Yaml/JSON config
//
//
config = json(site_config, { hash: true })
co = config.co
breakpoints = config.bp_decs

@require "lib/*"

// ==========================================================================
// Resets and Dev helpers
//
//
reset()
dev_tools()


// ==========================================================================
// Base VEFA F(CSS)
//
//
@require "base/flex"
@require "base/grid"
// @require "base/matrices"

@require "base/rhythm"
@require "base/paddings"
@require "base/isolations"
@require "base/dimensions"
@require "base/positioning"

@require "base/modules"
@require "base/icons"

@require "base/typographics"
@require "base/borders"
@require "base/motifs"
@require "base/reactions"

@require "base/optics"
