reset(forms=true)
    *
        background-repeat: no-repeat
        margin: 0
        padding: 0
        box-sizing: border-box
        font-size: 100%
        list-style: none

    h1,
    h2,
    h3,
    h4,
    h5,
    h6
        font-weight: 400

    a,
    abbr,
    cite,
    mark,
    time,
    span,
    button,
    input,
    select,
    textarea
        // font-size: inherit
        // font-style: inherit
        // font-weight: inherit
        // font-variant: inherit
        // font-family: inherit
        // line-height: inherit
        font: inherit
        letter-spacing: inherit
        text-align: inherit
        text-transform: inherit
        color: inherit

    a
        text-decoration: none
        
    a
    button
    label
        cursor: pointer
    
    hr
        border: 0
    
    img
        display: block
        width: 100%
        max-width: 100%
        border: 0

        // might not be required if contained in right "block"
        &[height]
        &[width]
        &.static
            width: auto
            max-width: none

    picture
        source
        img
            margin: 0

    svg
        display: block
    
    svg:not(.ico--selfFill)
        fill: currentColor

        a
            fill: currentColor

    span svg
        display: inline-block
        vertical-align: baseline

    sub
    sup
        font-size: 75%
        line-height: 0
        position: relative
        vertical-align: baseline
    
    sub
        bottom: -0.25em

    sup
        top: -0.5em

    address
        font-style: normal
    
    button
        width: auto
        text-align: center
        background: none
        white-space: nowrap
        -moz-appearance: none
        -webkit-appearance: none
        appearance: none
        user-select: none

    form
        :focus
            outline: 0

        ::-moz-focus-inner
            padding: 0
            border: 0

    fieldset
        border: 0

    input,
    select,
    textarea,
    button
        margin: 0
        vertical-align: middle
        border: 0
        border-radius: 0
        cursor: pointer
        text-decoration: none

    :hover
    :focus
    :active
        text-decoration: none
        outline: 0

    [disabled]
    :disabled
    .is-disabled
        cursor: default

    [type="checkbox"]
    [type="radio"]
        // should probably default this to a flex box style... why border-radius?
        position: static
        width: auto
        padding: 0
        border: 0
        border-radius: 0

    [type="date"]
        -webkit-appearance: textfield

    ::-webkit-datetime-edit-month-field,
    ::-webkit-datetime-edit-day-field,
    ::-webkit-datetime-edit-year-field
        color: off_color

    input["value"]
        &::-webkit-datetime-edit-month-field,
        &::-webkit-datetime-edit-day-field,
        &::-webkit-datetime-edit-year-field
            color: on_color

    [type="number"]
        -moz-appearance: textfield
        -webkit-appearance: textfield
        appearance: textfield

        &::-webkit-inner-spin-button
        &::-webkit-outer-spin-button
            -webkit-appearance: none


        &:not([no-native-widget])
            &:hover
            &:focus
                -moz-appearance: number-input

                &::-webkit-inner-spin-button
                    -webkit-appearance: inner-spin-button
                &::-webkit-outer-spin-button
                    -webkit-appearance: outer-spin-button

    [type="search"]
        -webkit-appearance: none

    ::-webkit-search-decoration
    ::-webkit-search-cancel-button
        display: none


    details
        summary::-webkit-details-marker
            display: none

    summary
        cursor: pointer
