extends /_vefa

block init
    -
        vefa = new Vefa("fm-fieldset")
            .dom({
                legend: {
                    class: "fm-fieldset-legend tx--subhed--f1--100--aa",
                    "o-base": "row--pGrid--sMiddle mod--balance pad--x25 pad--y25 rhy--xStart25",
                }, 
                bd: {
                    slot: "bd", 
                    "o-base": "pad--x25 iso--yStart25 rhy--yStart25", 
                }
            })


block view
    fieldset(
        class=fmFieldset.class
        o-base="iso--yStart25"
    )
        if fmFieldset.name
            div&attributes(fmFieldset.legend)= fmFieldset.name
        

        .fm-fieldset-bd&attributes(fmFieldset.bd)
            
            if fmFieldset.fields
                for fm_field in fmFieldset.fields
                    - bus.set("field", fm_field)
                    
                    case fm_field.widget
                        when "text"
                            include /forms/fields/fm-field--text
                        
                        when "single"
                            include /forms/fields/fm-field--single
                        
                        when "single_null"
                            include /forms/fields/fm-field--single-null

                        when "multi"
                            include /forms/fields/fm-field--multi
                        
                        //- //- //- when "bool"
                        //- //- //-     include /forms/fields/fm-field--bool
                        
                        when "multi_icon"
                            include /forms/fields/fm-field--multi-icon

                        //- //- //- when "multi_block"
                        //- //- //-     include /forms/fields/fm-field--multi-block

                        //- //- //- when "single_block"
                        //- //- //-     include /forms/fields/fm-field--single-block

                        default
                            include /forms/fields/fm-field--text
                    
                - bus.rm("field")
                    
                    

    hr.thm--shade30(
        o-base="pad--x25 iso--yStart50"
        o-standard="pad--x100"
    )
