extends _abstract

block subclass
    -
        vefa
            .define({
                class: "page--detail",
                data: {
                    title: "Detail Template"
                }
            })


block premain
    include /posters/icon
        -

            poster
                .data(
                    { 
                        title: `"${ page.title }"`,
                        icon: page.icon
                     }
                    
                )
                .mixin({
                    element: {
                        class: `thm--texture-tint ${page.poster_color}`,
                        "o-base": "ord--next",
                        "o-extended": "gxi--b"
                    }
                })
        -    
//-         poster
//-             .mix({
//-                 element: {
//-                     class: "thm--texture-tint",
//-                     "o-base": "ord--next",
//-                     "o-extended": "gxi--b"
//-                 }
//-             })
//-             .data({
//-                 hed: page.data.title
//-             })
//-     include /posters/details

//- //- //- block view
//- //- //-     //- .strata--search(
//- //- //-     //-     o-base="mod--balance"
//- //- //-     //-     o-standard="gx--search"
//- //- //-     //- )
//- //- //-     //-     block form
//- //- //-     //-         include /forms/fm--search
        
//- //- //-     //-     div(
//- //- //-     //-         o-base="pad--xy50 rhy--yStart100"
//- //- //-     //-         o-enhanced="pad--xy100 rhy--yStart200"
//- //- //-     //-     )
//- //- //-     //-         if page.data.summary
//- //- //-     //-             .copy.tx--maj--f1--100     
//- //- //-     //-                 != markdown(page.data.summary)
                
//- //- //-     //-             hr.thm--light-alt.hl--yEnd(
//- //- //-     //-                 o-base="dx--w60 iso--xAuto"
//- //- //-     //-             )
            
//- //- //-     //-         if page.data.results_collection
//- //- //-     //-             div(o-base="rhy--yStart100")
//- //- //-     //-                 for item in page.data.results_collection

//- //- //-     //-                     block results
//- //- //-     //-                         article.card--partners.thm--light-alt.hl--xStart(
//- //- //-     //-                             o-base="col--pStart gx--cards"
//- //- //-     //-                         )
//- //- //-     //-                             header(
//- //- //-     //-                                 o-base="col--pStart gxi--a pad--x50 pad--yStart25 rhy--yStart25"
//- //- //-     //-                                 o-extended="col--pStart pad--y50"
//- //- //-     //-                             )
//- //- //-     //-                                 h4.tx--f1--100hl--yEnd
//- //- //-     //-                                     a.co--pri.fx--shift(
//- //- //-     //-                                         href=v(item.slug)
//- //- //-     //-                                     )
//- //- //-     //-                                         = v(item.name)
                                    
//- //- //-     //-                                 if item.core_services
//- //- //-     //-                                     ul.tx--small--900.co--minor(
//- //- //-     //-                                         o-base="matrix--pStart rhy--xStart25"
//- //- //-     //-                                     )
//- //- //-     //-                                         for service in item.core_services
//- //- //-     //-                                             li(
//- //- //-     //-                                                 o-base="mod--static"
//- //- //-     //-                                             )= `${ core_services[service] }, `

//- //- //-     //-                             if item.reach
//- //- //-     //-                                 small.thm--shade.tx--chrome--f3--tcU--900--ls100(
//- //- //-     //-                                     o-base="gxi--c row--pStart--sMiddle pad--x50 pad--y25"
//- //- //-     //-                                 )
//- //- //-     //-                                     = item.reach
                                
//- //- //-     //-                             if item.tiers
//- //- //-     //-                                 .bd.thm--partners(
//- //- //-     //-                                     o-base="gxi--b row--pGrid"
//- //- //-     //-                                 )
//- //- //-     //-                                     h5.tx--chrome--f3--tcU--100--ls100(
//- //- //-     //-                                         o-base="mod--balance--aMiddle pad--x50 pad--y25"
//- //- //-     //-                                     ) Tiers:                                   
                                        
//- //- //-     //-                                     ul(
//- //- //-     //-                                         o-base="row--pStart--xAuto mod--fit"
//- //- //-     //-                                     )
//- //- //-     //-                                         for tier in item.tiers
//- //- //-     //-                                             li.tx--f1--100.thm--shade(
//- //- //-     //-                                                 o-base="row--pMiddle--sMiddle--xAuto mod--static pad--x50 pad-y25"
//- //- //-     //-                                             )= tier
//- //- //-     //-                             -
//- //- //-     //-                                 ctrl = new Vefa()
//- //- //-     //-                                     .define({
//- //- //-     //-                                         element: {
//- //- //-     //-                                             class: "ctrl--action tx--chrome--f3--tcU rxn--ctrl-action fx--shift",
//- //- //-     //-                                             "o-base": "gxi--d row--pMiddle--sMiddle--xAuto mod--balance pad--y25 pad--x50 rhy--xStart25 ico--sm",
//- //- //-     //-                                             "o-standard": "row--pEnd--sMiddle--xRev rhy--xEnd25 rhy--xStart0"
//- //- //-     //-                                         }
//- //- //-     //-                                     })
//- //- //-     //-                                     .data({
//- //- //-     //-                                         label: "Profile"
//- //- //-     //-                                     })
//- //- //-     //-                             include /controls/link
//- //- //-     //-                                 include /icons/add

//- //- //-     //-                             -
//- //- //-     //-                                 ctrl = new Vefa()
//- //- //-     //-                                     .define({
//- //- //-     //-                                         element: {
//- //- //-     //-                                             class: "ctrl--action tx--chrome--f3--tcU rxn--ctrl-neutral fx--shift",
//- //- //-     //-                                             "o-base": "gxi--e row--pMiddle--sMiddle pad--y25 pad--x50 rhy--xStart25 ico--sm",
//- //- //-     //-                                             "o-standard": ""
//- //- //-     //-                                         }
//- //- //-     //-                                     })
//- //- //-     //-                                     .data({
//- //- //-     //-                                         target: "_blank",
//- //- //-     //-                                         label: "Website"
//- //- //-     //-                                     })
//- //- //-     //-                             include /controls/link
//- //- //-     //-                                 include /icons/link-ext
