extends _abstract

block subclass
    -
        vefa
            .define({
                class: "page--detail",
                _title_type: 'data_titlebar',
                data: {
                    title: "Detail Template"
                },
                methods: {
                    get (key) {
                        return `${ this.grouping }.${ key }`
                    }
                },
            })


block premain
    include /posters/icon
        -

            poster
                .data(
                    { 
                        title: page.title,
                        icon: page.icon
                     }
                    
                )
                .mixin({
                    element: {
                        class: `thm--texture-tint ${page.primary_color}`,
                        "o-base": "ord--next",
                        "o-extended": "gxi--b"
                    }
                })
//-         poster
//-             .mix({
//-                 element: {
//-                     class: "thm--texture-tint",
//-                     "o-base": "ord--next",
//-                     "o-extended": "gxi--b"
//-                 }
//-             })
//-             .data({
//-                 hed: page.data.title
//-             })
//-     include /posters/details


prepend view
    - proxy()
