
.page-ctrl
    +o-attr()
        &.is-disabled
            opacity: .5

        &.is-current
        &:hover
            color: co.brand_1.shade
            transform: scale(1.25)
            transform-origin: center 1em
    
        &:hover
            transition-property: color, transform
