.page-ctrl
    +o-attr()
        min-width: 2em
        min-height: 2em

        &.is-disabled
            color: co.brand_1.shade
            background: co.white
            opacity: .5

        &.is-current
            color: co.brand_1.shade
            background: co.white
            border: co.brand_1.shade
    
