extends /_vefa

block init
    -
        vefa = new Vefa({
            class: "fm",
            data: {
                action: ".",
                method: "GET",
                control: {
                    name: "submit",
                    label: "Submit"
                }
            },
            provide: [
                ['form', "form"],
            ],
            element: {
                class: "fx--z-up",
                "o-base": "pad--x25 pad--y50",
            },
            header: {
                "o-base": "row--pGrid--sMiddle pad--x25",
            },
            hed: {
                class: 'tx--subhed--f1--100'
            },
            footer: {
                "o-base": "row--pGrid--sMiddle--xRev pad--x25 pad--y50",
            },
        })



block view
    form(
        action=fm.action
        method=fm.method
        class=fm.class
    )&attributes(fm.element)
        block hdr
            header.fm-hdr&attributes(fm.header)
                h1.fm-hed&attributes(fm.hed)
                    = fm.title

            include components/fm-errors

        block bd
            if fm.fieldsets
                for fieldset, index in fm.fieldsets
                    include components/fm-fieldset
                        -
                            vefa.data(
                                "fm-fieldset", 
                                fieldset
                            )

        block ftr
            footer&attributes(fm.footer)
                include /controls/submit
                    - vefa.data(fm.control)
        
        +csrf()

