extends /_vefa

block init
    -
        vefa = new Vefa("fm")
            .data({
                action: ".",
                method: "GET",
                control: {
                    name: "submit",
                    label: "Submit"
                }
            })
            .dom({
                element: {
                    class: "fx--z-up",
                    "o-base": "pad--x25 pad--y50",
                    "o-condensed": "pad--xy50"
                },
                header: {
                    "o-base": "row--pGrid--sMiddle",
                },
                hed: {
                    class: 'tx--subhed--f1--100'
                },
                footer: {
                    "o-base": "row--pGrid--sMiddle--xRev iso--yStart50",
                },    
            })

        bus.set("form", "form")
            


block view
    form(
        action=fm.action
        method=fm.method
        class=fm.class
    )&attributes(fm.element)
        block hdr
            header.fm-hdr&attributes(fm.header)
                h1.fm-hed&attributes(fm.hed)
                    = fm.title

            include components/fm-errors

        block bd
            if fm.fieldsets
                for fieldset, index in fm.fieldsets
                    include components/fm-fieldset
                        -
                            vefa.apply("fmFieldset").data(fieldset)
                                
                                

        block ftr
            footer&attributes(fm.footer)
                include /controls/submit
                    - vefa.data(fm.control)
        
        block csrf
            +csrf()

