extends _abstract

block component
    -
        vefa.define("fm--login")
            .data({
                action: url('simple_auth_password'),
                method: "POST",
                title:  "Login",
                control: {
                    label: "Enter"
                }
            })
            .dom_mix({
                element: {
                    class: "thm--dark",
                    "o-base": "dx--w90 iso--xAuto iso--y100 rhy--yStart25",
                    "o-condensed": "dx--w60",
                    "o-standard": "pad--x50 rhy--yStart50",
                    "o-full": "dx--w40"
                },
                footer: {
                    "o-base": "iso--yStart50",
                    "o-standard": "iso--yStart100"
                }
            })

        bus.set("form", "form")


block bd
    //- include /forms/fields/fm-field--password
        -
            vefa
                .data({
                    name: 'password',
                    label: "Password",
                    autofocus: true,
                    required: true,
                    fold: false
                })
