extends _abstract


block subclass
    -
        vefa.define({
            name: "Search Form",
            class: "fm--search",
            data: {
                title: "Search",
                control: {
                    label: "Explore"
                }
            },
            element: {
                class: "thm--dark",
            },               
        })


block hdr
    header.fm-hdr&attributes(fm.header)
        include /controls/submit
            -
                vefa
                    .data(fm.control)
                    .mixin({
                        element: {
                            "o-base": "vx--hidden iso--xStartAuto",
                            "o-compressed": "vx--shown"
                        }
                    })
