extends _abstract

block component
    -
        vefa
            .define({
                name: "Simple Auth Login Form",
                class: "fm--login",
                data: {
                    action: url('simple_auth_password'),
                    method: "POST",
                    title:  "Login",
                    control: {
                        label: "Enter"
                    }
                }
            })
            .mixin({
                element: {
                    class: "thm--dark",
                    "o-base": "dx--w90 iso--xAuto iso--y100",
                    "o-compressed": "pad--x25",
                    "o-condensed": "dx--w60",
                    "o-standard": "pad--x0",
                    "o-enhanced": "dx--w40"
                },
            })



block bd
    include /forms/fields/fm-field--password
        -
            vefa.data({
                name: 'password',
                label: "Password",
                required: true
            })
            .mixin({
                element: {
                    "o-base": "pad--x25",
                    "o-standard": "pad--x100"
                }
            })
