extends _abstract

block model
    -
        form
            .instance({
                class: "fm--login",
                action: url('simple_auth_password'),
                method: "POST",
                data: {
                    title:  "Login"
                }
            })
            .mix({
                element: {
                    class: "thm--dark",
                    "o-base": "dx--w90 iso--xAuto iso--y100",
                    "o-compressed": "pad--x25",
                    "o-condensed": "dx--w60",
                    "o-standard": "pad--x0",
                    "o-enhanced": "dx--w40"
                },
            })

        ctrl
            .data({
                label: "Enter"
            })


block bd
    - 
        form_field = new Vefa()
            .instance({
                data: {
                    label: "Password",
                    name: "password",
                    required: true
                }
            })
            .mix({
                element: {
                    "o-base": "pad--x25",
                    "o-standard": "pad--x100"
                }
            })
    include /forms/fields/fm-field--password
