extends _abstract

block model
    -
        form
            .instance({
                class: "fm--login",
                action: url('simple_auth_password'),
                method: "POST",
                element: {
                    class: "thm--dark",
                    "o-base": "pad--y50 rhy--yStart100 dx--w60 iso--xAuto",
                    "o-enhanced": "pad--y100 dx--w40"
                },
                header: {
                    "o-base": "row--pGrid--sMiddle pad--x25",
                    "o-standard": "pad--x100"
                },
                footer: {
                    "o-base": "row--pEnd--sMiddle pad--x50",
                    "o-standard": "pad--x100"
                }
            })
            .data({
                submit: {
                    name: "submit",
                    label: "Enter"
                }
            })


block hdr
    header.fm-hdr&attributes(form.header)
        h1.fm-hed&attributes(form.hed) Log In
            

block bd
    - 
        form_field = new Vefa()
            .mix({
                element: {
                    "o-base": "pad--x100"
                }
            })
            .data({
                label: "Password",
                name: "password",
                required: true
            })
    include /forms/fields/fm-field--password
