
.fm-field--radio
.fm-field--multi
.fm-field--multi-block
    label::after
        left: bvr(-.25)
        right: bvr(-.25)
        
        +over(standard)
            left: bvr(-.5)
            right: bvr(-.5)
    
    input
        transform: translateY(2px)

.fm-field--bool
    & + &
        margin-top: 0


.fm-fieldset-legend
    &::after
        +over(standard)
            left: bvr(.5)
            right: bvr(.5)
