
.fm-field--single
.fm-field--multi
    label::after
        left: 0
        right: 0
        
    input
        transform: translateY(2px)

.fm-field--bool
    & + &
        margin-top: 0


.fm-fieldset-legend
    &::after
        +over(standard)
            left: bvr(.5)
            right: bvr(.5)
