extends /forms/fm--search

block instance
    -
        vefa.define({
            class: 'fm--search-programs',
            data: {
                fieldsets: programs.fm_search
            }
        })
