.co--
    &affiliates
        color: co.affiliates
    
    &partners
        color: co.partners
    
    &programs
        color: co.programs

    &pri
        color: co.brand_1.base

        &.fx--shift
            &:--hover
                color: co.brand_2.base
            
            &:--active
                color: co.black
    &minor
        color:  co.neutral.base

        &.fx--shift
            &:--hover
                color: co.brand_2.base
            
            &:--active
                color: co.black
    
    &copy
        color: co.copy.base
    // &pri
    //     color: co.brand_2.base
    
    // &sec
    //     color: co.brand_1.base

    // &tri
    //     color: co.brand_4.base

    // &minor
    //     color: co.neutral.base

    //     &.fx--shift:hover
    //         color: darken(co.neutral.base, 40%)

    // &neg
    //     color: co.brand_1.base

    //     &.fx--shift:hover
    //         color: darken(co.brand_1.base, 40%)

    
    // &ctrl
    //     color: co.brand_2.base

    //     &:hover
    //         color: co.neutral.base
