// ==========================================================================
// Effects
//
// shared transitions/animations/transformations
//
//
.fx--
    +o-attr()
        &
        &::after
        &::before
            transition-property: none
            transition-duration: config.fx.quick.time
            transition-timing-function: config.fx.quick.func
    
    &shift
        +o-eq(breakpoints)
            &,
            &::after,
            &::before
                transition-property: background, color, filter, opacity

    // &z-up
    //     +o-eq(breakpoints)
    //         box-shadow: 0 1px 4px 2px bl(35%)

.fx--slide
    +o-attr()
        transition-property: opacity, transform

.fx--slide-up-leave-active
    transition-duration: config.fx.medium.time
    transition-timing-function: cubic-bezier(1.0, 0.5, 0.8, 1.0)

.fx--slide-up-enter
.fx--slide-up-leave-to
  transform: translateY(3em)
  opacity: 0



