.ico
    sq: 1em
    line-height: 1
    overflow: hidden

.ico--
    &base
        +o-attr(breakpoints)
            svg&
            > .ico
                sq: 1em

    &xs
        +o-attr(breakpoints)
            svg&
            > .ico
                sq: .75em

    &s
        +o-attr(breakpoints)
            svg&
            > .ico
                sq: 1.5em

    &md
        +o-attr(breakpoints)
            svg&
            > .ico
                sq: 1.75em

    &l
        +o-attr(breakpoints)
            svg&
            > .ico
                sq: 2em

    &xl
        +o-attr(breakpoints)
            svg&
            > .ico
                sq: 2.5em


use
    &.st0
        color: rgba(#FFF, .25)
    &.st1
        color: #F78E1E
    &.st2
        color: #E31837
    &.st3
        color: #008752
    &.st4
        color: #00549E
    &.st5
        color: #FFF
