.tx--
    &broadside
        +o-attr(class)
            relative-type: broadside
    
    &display
        +o-attr(breakpoints)
            get-type: display
    
    &hed
        +o-attr(breakpoints)
            get-type: hed

    &subhed
        +o-attr(breakpoints)
            get-type: subhed

    &maj
        +o-attr(breakpoints)
            get-type: maj

    &base
        +o-attr(breakpoints)
            get-type: base

    &small
        +o-attr(breakpoints)
            get-type: small
            
    &caption
        +o-attr(breakpoints)
            get-type: caption

    &chrome
        +o-attr(breakpoints)
            get-type: chrome
