{% load static choice_tags humanize network_search_tags %}<!DOCTYPE html>
<html langs="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  </head>
  <title>{{ affiliate }} : CIS Search Tool</title>{% include 'includes/css.html' %}{% include 'includes/head_js.html' %}{% include 'includes/favicons.html' %}
  <meta name="apple-mobile-web-app-title" content="CIS Search Tool">
  <meta name="application-name" content="CIS Search Tool">
  <meta name="theme-color" content="#ffffff">
  <meta name="format-detection" content="telephone=no">
</html>
<body o-base="col--pStart" o-full="gx--ui" dir="ltr" ontouchstart="" onmouseover="">{% include 'includes/icons.html' %}
  <header class="masthead--landing thm--dark" role="banner" o-base="col--pMiddle--sMiddle vx--hidden" o-full="gxi--a vx--shown"><a class="masthead-home rxn--shade40 fx--shift" href="/" target="_top" o-base="row--pMiddle--sMiddle mod--balance">  
      <h2 class="vx--a11y">Communities In Schools</h2>
      <picture>
        <source srcset="{% static 'res/logo.solo.inverse.png.webp' %}" type="image/webp"><img class="site-logo--solo" src="{% static 'res/logo.solo.inverse.png' %}">
      </picture></a></header>
  <header class="poster--icon row--pStart--sMiddle gx--poster tx--broadside thm--texture-tint co--affiliates" o-base="pad--xStart50 pad--y100 ord--next" o-condensed="pad--y150" o-enhanced="pad--xStart100 pad--y200" o-extended="gxi--b">
    <svg class="ico poster-icon" o-base="gxi--a">
      <use xlink:href="#ico--affiliates"></use>
    </svg>
    <h1 class="poster-hed tx--broadside--f1--tcU" o-base="gxi--b">{{ affiliate }}
    </h1>
  </header>
  <main o-base="col--pStart ord--next" o-extended="gxi--d">
    <div class="strata--detail gx--profile" o-base="mod--balance">
      <nav class="gxi--breadcrumbs tx--small--f3 hl--yEnd--bTint" o-base="row--pStart--sMiddle" o-standard="row--pGrid--sMiddle">
        <div o-base="row--pStart--sBase mod--balance pad--xy25 rhy--xStart10" o-standard="row--pStart--sBase pad--x50"><a class="co--ctrl fx--shift" href="../" o-base="row--pStart--sMiddle--xAuto rhy--xStart25">Affiliates</a>
          <svg class="ico ico--xs">
            <use xlink:href="#ico--ctrl-next"></use>
          </svg><span class="tx--trnc">{{ affiliate }}</span>
        </div>
        <div o-base="row--pEnd--sMiddle mod--balance">{% if affiliate.website %}<a class="ctrl--action fx--shift tx--small--f3--tcU rxn--ctrl-neutral" href="{{ affiliate.website }}" target="_blank" rel="noopener noreferrer" o-base="row--pMiddle--sMiddle--xAuto pad--x50 rhy--xStart25 pad--y25 iso--x">
              <svg class="ico--dx100">
                <use href="#ico--link-ext"></use>
              </svg><span>Website</span></a>{% endif %}<a class="ctrl--download fx--shift tx--small--f3--tcU rxn--ctrl-neutral" href="../{{ affiliate.id }}.pdf" download="{{ affiliate }}" o-base="row--pMiddle--sMiddle--xAuto pad--y25 pad--x50 rhy--xStart25">
            <svg class="ico--dx100">
              <use href="#ico--download"></use>
            </svg><span>Report (PDF)</span></a>
        </div>
      </nav>
      <section class="gxi--a thm--affiliates" o-base="pad--x25 pad--yStart25 pad--yEnd50 rhy--yStart50" o-standard="pad--x50 rhy--yStart100">{% if True %}
                <article class="card--list-data-inv" o-base="col--pStart">
                  <header o-base="pad--yEnd25">
                    <h1 class="tx--subhed--f1--100--aa">Affiliate Information</h1>
                  </header>
                  <div class="bd" o-base="">{% if True %}
                        <section o-base="col--pStart">
                          <dl class="datagrid-grid" o-extended="gdx--gc--gxy10">{% if True %}
                                <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                  <dt class="thm--shade40 tx--small--f3--tcU" o-base="pad--xy25">Executive Director</dt>
                                  <dd class="thm--tint10 tx--f2--100" o-base="col--pStart pad--xy25 gxi--gs2" o-condensed="pad--x50">
                                            <ul>
                                              <li>{{ affiliate.current_data.executive_director_name }}</li>
                                              <li><a class="tx--tdU fx--shift" href="mailto:{{ affiliate.current_data.executive_director_email }}">{{ affiliate.current_data.executive_director_email }}</a></li>
                                            </ul>
                                  </dd>
                                </div>{% endif %}{% if True %}
                                <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                  <dt class="thm--shade40 tx--small--f3--tcU" o-base="pad--xy25">Program Lead</dt>
                                  <dd class="thm--tint10 tx--f2--100" o-base="col--pStart pad--xy25 gxi--gs2" o-condensed="pad--x50">
                                            <ul>
                                              <li>{{ affiliate.current_data.program_lead_name }}</li>
                                              <li><a class="tx--tdU fx--shift" href="mailto:{{ affiliate.current_data.program_lead_email }}">{{ affiliate.current_data.program_lead_email }}</a></li>
                                            </ul>
                                  </dd>
                                </div>{% endif %}{% if affiliate.affiliate_location %}
                                <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                  <dt class="thm--shade40 tx--small--f3--tcU" o-base="pad--xy25">Location</dt>
                                  <dd class="thm--tint10 tx--f2--100" o-base="col--pStart pad--xy25 gxi--gs2" o-condensed="pad--x50">{{ affiliate.affiliate_location|choice_display:'AffiliateLocation'|capfirst }}
                                  </dd>
                                </div>{% endif %}{% if True %}
                                <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                  <dt class="thm--shade40 tx--small--f3--tcU" o-base="pad--xy25">Address</dt>
                                  <dd class="thm--tint10 tx--f2--100" o-base="col--pStart pad--xy25 gxi--gs2" o-condensed="pad--x50">
                                            <ul>
                                              <li>{{ affiliate.address_street }}</li>
                                              <li>{{ affiliate.address_city }}, {{ affiliate.address_state }} {{ affiliate.address_postcode }}</li>
                                            </ul>
                                  </dd>
                                </div>{% endif %}{% if affiliate.phone_number %}
                                <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                  <dt class="thm--shade40 tx--small--f3--tcU" o-base="pad--xy25">Phone Number</dt>
                                  <dd class="thm--tint10 tx--f2--100" o-base="col--pStart pad--xy25 gxi--gs2" o-condensed="pad--x50">{{ affiliate.phone_number|safe }}
                                  </dd>
                                </div>{% endif %}
                          </dl>
                        </section>{% endif %}
                  </div>
                </article>{% endif %}
      </section>
      <section class="gxi--b" o-base="col--pStart pad--y50 rhy--yStart50" o-condensed="pad--x25" o-extended="gdx--gc2--gxy50 rhy--yStart0">  
        <div o-base="col--pStart pad--x25 rhy--yStart50" o-extended=" rhy--yStart100">{% if True %}
                    <article class="card--list-data vx--z100" o-base="col--pStart">
                      <header class="thm--affiliates" o-base="row--pGrid--sMiddle mod--static pad--x50 pad--y25">
                        <h1 class="tx--maj--f1--100--aa">Affiliate Resources</h1>
                      </header>
                      <div class="bd thm--shade15" o-base="mod--balance pad--xy25 rhy--yStart25">{% if True %}
                            <section o-base="col--pStart">
                              <dl class="datagrid-grid" o-extended="gdx--gc--gxy10">{% if eoy_data.budget_as_range %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Annual Budget</dt>
                                      <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">${{ eoy_data.budget_as_range|intcomma }}
                                      </dd>
                                    </div>{% endif %}{% if eoy_data.funding_total and eoy_data.funding_public %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Pct of Public Funding</dt>
                                      <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.funding_percent_public }}%
                                      </dd>
                                    </div>{% endif %}{% if eoy_data.funding_total and eoy_data.funding_private %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Pct of Private Funding</dt>
                                      <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.funding_percent_private }}%
                                      </dd>
                                    </div>{% endif %}
                              </dl>
                            </section>{% endif %}
                      </div>
                    </article>{% endif %}{% if True %}
                    <article class="card--list-data vx--z100" o-base="col--pStart">
                      <header class="thm--affiliates" o-base="row--pGrid--sMiddle mod--static pad--x50 pad--y25">
                        <h1 class="tx--maj--f1--100--aa">Affiliate Staffing</h1>
                      </header>
                      <div class="bd thm--shade15" o-base="mod--balance pad--xy25 rhy--yStart25">{% if True %}
                            <section o-base="col--pStart">
                              <dl class="datagrid-grid" o-extended="gdx--gc--gxy10">{% if eoy_data.full_time_staff %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Full-time</dt>
                                      <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.full_time_staff|safe }}
                                      </dd>
                                    </div>{% endif %}{% if eoy_data.part_time_staff %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Part-time</dt>
                                      <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.part_time_staff|safe }}
                                      </dd>
                                    </div>{% endif %}{% if eoy_data.americorps_staff %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Americorps</dt>
                                      <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.americorps_staff|safe }}
                                      </dd>
                                    </div>{% endif %}
                              </dl>
                            </section>{% endif %}
                      </div>
                    </article>{% endif %}{% if True %}
                    <article class="card--list-data vx--z100" o-base="col--pStart">
                      <header class="thm--affiliates" o-base="row--pGrid--sMiddle mod--static pad--x50 pad--y25">
                        <h1 class="tx--maj--f1--100--aa">Affiliate Case Management Performance</h1>
                      </header>
                      <div class="bd thm--shade15" o-base="mod--balance pad--xy25 rhy--yStart25">{% if True %}
                            <section o-base="col--pStart">
                              <dl class="datagrid-grid" o-extended="gdx--gc--gxy10">{% if eoy_data.students_k_11_promoted %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="tx--f3--600 co--copy hl--yEnd" o-base="gxi--gs3 row--pGrid--sMiddle mod--static pad--xy25">Students in Grades K—11</dt>
                                    </div>{% endif %}{% if eoy_data.students_k_11_promoted %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Promoted</dt>
                                      <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.students_k_11_promoted|safe }}
                                      </dd>
                                    </div>{% endif %}{% if eoy_data.students_k_11_retained %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Retained</dt>
                                      <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.students_k_11_retained|safe }}
                                      </dd>
                                    </div>{% endif %}{% if eoy_data.students_k_11_dropped_out %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Dropped Out</dt>
                                      <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.students_k_11_dropped_out|safe }}
                                      </dd>
                                    </div>{% endif %}{% if eoy_data.students_k_11_transferred %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Transferred</dt>
                                      <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.students_k_11_transferred|safe }}
                                      </dd>
                                    </div>{% endif %}{% if eoy_data.students_k_11_ged %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">GED</dt>
                                      <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.students_k_11_ged|safe }}
                                      </dd>
                                    </div>{% endif %}{% if eoy_data.students_k_11_expelled %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Expelled</dt>
                                      <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.students_k_11_expelled|safe }}
                                      </dd>
                                    </div>{% endif %}{% if eoy_data.students_k_11_incarcerated %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Incarcerated</dt>
                                      <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.students_k_11_incarcerated|safe }}
                                      </dd>
                                    </div>{% endif %}{% if eoy_data.students_k_11_deceased %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Deceased</dt>
                                      <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.students_k_11_deceased|safe }}
                                      </dd>
                                    </div>{% endif %}{% if eoy_data.students_k_11_other %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Other</dt>
                                      <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.students_k_11_other|safe }}
                                      </dd>
                                    </div>{% endif %}{% if eoy_data.students_k_11_unknown %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Unknown</dt>
                                      <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.students_k_11_unknown|safe }}
                                      </dd>
                                    </div>{% endif %}{% if eoy_data.students_grade_12_graduated %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="tx--f3--600 co--copy hl--yEnd" o-base="gxi--gs3 row--pGrid--sMiddle mod--static pad--xy25">Students in Grade 12</dt>
                                    </div>{% endif %}{% if eoy_data.students_grade_12_graduated %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Graduated</dt>
                                      <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.students_grade_12_graduated|safe }}
                                      </dd>
                                    </div>{% endif %}{% if eoy_data.students_grade_12_retained %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Retained</dt>
                                      <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.students_grade_12_retained|safe }}
                                      </dd>
                                    </div>{% endif %}{% if eoy_data.students_grade_12_dropped_out %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Dropped Out</dt>
                                      <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.students_grade_12_dropped_out|safe }}
                                      </dd>
                                    </div>{% endif %}{% if eoy_data.students_grade_12_transferred %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Transferred</dt>
                                      <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.students_grade_12_transferred|safe }}
                                      </dd>
                                    </div>{% endif %}{% if eoy_data.students_grade_12_ged %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">GED</dt>
                                      <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.students_grade_12_ged|safe }}
                                      </dd>
                                    </div>{% endif %}{% if eoy_data.students_grade_12_expelled %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Expelled</dt>
                                      <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.students_grade_12_expelled|safe }}
                                      </dd>
                                    </div>{% endif %}{% if eoy_data.students_grade_12_incarcerated %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Incarcerated</dt>
                                      <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.students_grade_12_incarcerated|safe }}
                                      </dd>
                                    </div>{% endif %}{% if eoy_data.students_grade_12_deceased %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Deceased</dt>
                                      <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.students_grade_12_deceased|safe }}
                                      </dd>
                                    </div>{% endif %}{% if eoy_data.students_grade_12_other %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Other</dt>
                                      <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.students_grade_12_other|safe }}
                                      </dd>
                                    </div>{% endif %}{% if eoy_data.students_grade_12_unknown %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Unknown</dt>
                                      <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.students_grade_12_unknown|safe }}
                                      </dd>
                                    </div>{% endif %}
                              </dl>
                            </section>{% endif %}
                      </div>
                    </article>{% endif %}
        </div>
        <div o-base="col--pStart pad--x25 rhy--yStart50" o-extended="rhy--yStart100">{% if True %}
                    <article class="card--list-data vx--z100" o-base="col--pStart">
                      <header class="thm--affiliates" o-base="row--pGrid--sMiddle mod--static pad--x50 pad--y25">
                        <h1 class="tx--maj--f1--100--aa">School District Details</h1>
                      </header>
                      <div class="bd thm--shade15" o-base="mod--balance pad--xy25 rhy--yStart25">{% if True %}
                            <section o-base="col--pStart">
                              <dl class="datagrid-grid" o-extended="gdx--gc--gxy10">{% if eoy_data.school_districts %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">School District(s)</dt>
                                      <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">
                                        <ul>{% for val in eoy_data.school_districts %}
                                              <li>{{ val|capfirst }}
                                              </li>{% endfor %}
                                        </ul>
                                      </dd>
                                    </div>{% endif %}{% if eoy_data.calculated_total_enrollment %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Total Enrollment</dt>
                                      <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.calculated_total_enrollment|safe }}
                                      </dd>
                                    </div>{% endif %}{% if eoy_data.calculated_total_case_managed %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Number of Case-managed Students</dt>
                                      <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.calculated_total_case_managed|safe }}
                                      </dd>
                                    </div>{% endif %}{% if eoy_data.calculated_total_students_reached %}
                                    <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                      <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Total Students Reached</dt>
                                      <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.calculated_total_students_reached|safe }}
                                      </dd>
                                    </div>{% endif %}
                              </dl>
                            </section>{% endif %}
                      </div>
                    </article>{% endif %}{% if eoy_data.search_race or eoy_data.search_gender %}
                    <article class="card--open" o-base="col--pStart">
                      <header class="thm--affiliates" o-base="row--pGrid--sMiddle mod--static pad--x50 pad--y25">
                        <h1 class="tx--maj--f1--100--aa">By Race and Gender</h1>
                      </header>
                      <div class="bd thm--shade15" o-base="mod--balance pad--xy25 rhy--yStart25">{% if eoy_data.search_race %}
                                            <section o-base="col--pStart">
                                              <header class="datagrid-hdr hl--yEnd" o-base="row--pGrid--sMiddle mod--static pad--xy25 iso--yEnd10">
                                                <h3 class="datagrid-hed tx--f3--600 co--copy" o-base="">Students By Race/ Ethnicity
                                                </h3>
                                              </header>
                                              <dl class="datagrid-grid" o-extended="gdx--gc2--gxy10">{% if eoy_data.search_students_american_indian %}
                                                          <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                                            <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">American Indian</dt>
                                                            <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.search_students_american_indian|safe }}
                                                            </dd>
                                                          </div>{% endif %}{% if eoy_data.search_students_asian %}
                                                          <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                                            <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Asian</dt>
                                                            <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.search_students_asian|safe }}
                                                            </dd>
                                                          </div>{% endif %}{% if eoy_data.search_students_black %}
                                                          <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                                            <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Black</dt>
                                                            <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.search_students_black|safe }}
                                                            </dd>
                                                          </div>{% endif %}{% if eoy_data.search_students_hispanic %}
                                                          <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                                            <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Hispanic</dt>
                                                            <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.search_students_hispanic|safe }}
                                                            </dd>
                                                          </div>{% endif %}{% if eoy_data.search_students_white %}
                                                          <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                                            <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">White</dt>
                                                            <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.search_students_white|safe }}
                                                            </dd>
                                                          </div>{% endif %}{% if eoy_data.search_students_two_or_more %}
                                                          <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                                            <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Two or More</dt>
                                                            <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.search_students_two_or_more|safe }}
                                                            </dd>
                                                          </div>{% endif %}{% if eoy_data.search_students_other %}
                                                          <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                                            <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Other</dt>
                                                            <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.search_students_other|safe }}
                                                            </dd>
                                                          </div>{% endif %}
                                              </dl>
                                            </section>{% endif %}{% if eoy_data.search_gender %}
                                            <section o-base="col--pStart">
                                              <header class="datagrid-hdr hl--yEnd" o-base="row--pGrid--sMiddle mod--static pad--xy25 iso--yEnd10">
                                                <h3 class="datagrid-hed tx--f3--600 co--copy" o-base="">Students By Gender
                                                </h3>
                                              </header>
                                              <dl class="datagrid-grid" o-extended="gdx--gc2--gxy10">{% if eoy_data.search_students_male %}
                                                          <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                                            <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Male</dt>
                                                            <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.search_students_male|safe }}
                                                            </dd>
                                                          </div>{% endif %}{% if eoy_data.search_students_female %}
                                                          <div o-base="mod--balance" o-condensed="gdx--gc3--gxy10 mod--static rhy--yStart0">
                                                            <dt class="thm--shade10 tx--small--f3--tcU--700" o-base="pad--xy25 iso--yStart0">Female</dt>
                                                            <dd class="thm--tint70 tx--f2" o-base="col--pMiddle pad--xy25 gxi--gs2">{{ eoy_data.search_students_female|safe }}
                                                            </dd>
                                                          </div>{% endif %}
                                              </dl>
                                            </section>{% endif %}
                      </div>
                    </article>{% endif %}{% if affiliate.programs.count > 0 %}
                    <article class="card--list-links vx--z100" o-base="col--pStart">
                      <header class="thm--affiliates" o-base="row--pGrid--sMiddle mod--static pad--x50 pad--y25">
                        <h1 class="tx--maj--f1--100--aa">Active Programs</h1><span class="tx--caption--f3--400--aa">As reported in recent year's EOY data</span>
                      </header>
                      <div class="bd thm--shade15" o-base="mod--balance pad--xy25 rhy--yStart25">
                        <ul o-base="mod--balance rhy--yStart25">{% if affiliate.programs %}{% for item in affiliate.programs.all %}
                                                        <li class="thm--tint70 tx--f2--100"><a class="link rxn--shade5 fx--shift co--affiliates" href="{{ item.get_absolute_url }}" o-base="col--pStart--sStart" o-standard="row--pStart--sFull rhy--xStart25"><span class="thm--tint95 co--minor hl--xEnd--bTint" o-base="col--pMiddle--sMiddle--xAuto mod--static pad--x25">
                                                                          <svg class="ico--dx100">
                                                                            <use href="#ico--programs"></use>
                                                                          </svg></span><span class="tx--trnc" o-base="pad--x25 pad--y50">{{ item|truncatechars:72 }}</span></a>
                                                        </li>{% endfor %}{% endif %}
                        </ul>
                      </div>
                    </article>{% endif %}
        </div>{% if eoy_data.total_students_served > 0 %}
                    <div o-base="col--pStart pad--x25 rhy--yStart50" o-extended="iso--yStart50 gxi--gs2">{% if True %}
                        <article class="card--open" o-base="col--pStart">
                          <header class="thm--affiliates" o-base="row--pGrid--sMiddle mod--static pad--x50 pad--y25">
                            <h1 class="tx--maj--f1--100--aa">Unique Student Characteristics</h1>
                          </header>
                          <div class="bd thm--shade15" o-base="mod--balance pad--xy25 rhy--yStart25">
                              <ul o-extended="gdx--gc6--gr2--gxy10">{% if eoy_data.total_students_frpl > 0 %}
                                  <li class="thm--tint70 hl--yEnd--bCurrent co--affiliates" o-base="col--pEnd--sStart" style="border-width: 2px;">
                                    <p class="tx--maj--f3--100 co--copy" o-base="pad--xy25 iso--yStart200">FRPL Eligible Students Served</p>
                                  </li>{% endif %}{% if eoy_data.total_students_ell > 0 %}
                                  <li class="thm--tint70 hl--yEnd--bCurrent co--affiliates" o-base="col--pEnd--sStart" style="border-width: 2px;">
                                    <p class="tx--maj--f3--100 co--copy" o-base="pad--xy25 iso--yStart200">ELL Students Served</p>
                                  </li>{% endif %}{% if eoy_data.total_students_foster > 0 %}
                                  <li class="thm--tint70 hl--yEnd--bCurrent co--affiliates" o-base="col--pEnd--sStart" style="border-width: 2px;">
                                    <p class="tx--maj--f3--100 co--copy" o-base="pad--xy25 iso--yStart200">Foster Care/Group Home</p>
                                  </li>{% endif %}{% if eoy_data.total_students_homeless > 0 %}
                                  <li class="thm--tint70 hl--yEnd--bCurrent co--affiliates" o-base="col--pEnd--sStart" style="border-width: 2px;">
                                    <p class="tx--maj--f3--100 co--copy" o-base="pad--xy25 iso--yStart200">Homeless Youth</p>
                                  </li>{% endif %}{% if eoy_data.total_students_lgbt > 0 %}
                                  <li class="thm--tint70 hl--yEnd--bCurrent co--affiliates" o-base="col--pEnd--sStart" style="border-width: 2px;">
                                    <p class="tx--maj--f3--100 co--copy" o-base="pad--xy25 iso--yStart200">LGBT</p>
                                  </li>{% endif %}{% if eoy_data.total_students_pregnant_parenting > 0 %}
                                  <li class="thm--tint70 hl--yEnd--bCurrent co--affiliates" o-base="col--pEnd--sStart" style="border-width: 2px;">
                                    <p class="tx--maj--f3--100 co--copy" o-base="pad--xy25 iso--yStart200">Pregnant/Parenting</p>
                                  </li>{% endif %}{% if eoy_data.total_students_special_education > 0 %}
                                  <li class="thm--tint70 hl--yEnd--bCurrent co--affiliates" o-base="col--pEnd--sStart" style="border-width: 2px;">
                                    <p class="tx--maj--f3--100 co--copy" o-base="pad--xy25 iso--yStart200">Special Education</p>
                                  </li>{% endif %}{% if eoy_data.total_students_substance_abuse > 0 %}
                                  <li class="thm--tint70 hl--yEnd--bCurrent co--affiliates" o-base="col--pEnd--sStart" style="border-width: 2px;">
                                    <p class="tx--maj--f3--100 co--copy" o-base="pad--xy25 iso--yStart200">Substance Abuse</p>
                                  </li>{% endif %}{% if eoy_data.total_students_adjudicated_youth > 0 %}
                                  <li class="thm--tint70 hl--yEnd--bCurrent co--affiliates" o-base="col--pEnd--sStart" style="border-width: 2px;">
                                    <p class="tx--maj--f3--100 co--copy" o-base="pad--xy25 iso--yStart200">Adjudicated Youth</p>
                                  </li>{% endif %}{% if eoy_data.total_students_child_of_military > 0 %}
                                  <li class="thm--tint70 hl--yEnd--bCurrent co--affiliates" o-base="col--pEnd--sStart" style="border-width: 2px;">
                                    <p class="tx--maj--f3--100 co--copy" o-base="pad--xy25 iso--yStart200">Child of Military</p>
                                  </li>{% endif %}{% if eoy_data.total_students_gang > 0 %}
                                  <li class="thm--tint70 hl--yEnd--bCurrent co--affiliates" o-base="col--pEnd--sStart" style="border-width: 2px;">
                                    <p class="tx--maj--f3--100 co--copy" o-base="pad--xy25 iso--yStart200">Gang Involvement</p>
                                  </li>{% endif %}{% if eoy_data.total_students_incarcerated_parent > 0 %}
                                  <li class="thm--tint70 hl--yEnd--bCurrent co--affiliates" o-base="col--pEnd--sStart" style="border-width: 2px;">
                                    <p class="tx--maj--f3--100 co--copy" o-base="pad--xy25 iso--yStart200">Incarcerated Parent</p>
                                  </li>{% endif %}
                              </ul>
                          </div>
                        </article>{% endif %}
                    </div>{% endif %}
      </section>
      <aside class="gxi--c">
        <div class="strata thm--light-alt hl--yStart--bTint" o-base="col--pStart pad--xy50 rhy--yStart100" o-enhanced="pad--xy100 pad--xy100">
          <aside class="tx--maj--f1--100" o-base="col--pMiddle--sMiddle rhy--yStart25" o-condensed="row--pEnd--sMiddle rhy--xStart50">
            <p>Please submit your feedback on our new tool:</p><a class="ctrl--action-impt fx--shift tx--small--f3--100--tcU rxn--ctrl-impt" href="https://docs.google.com/forms/d/e/1FAIpQLSfaeBBaqP6ChbS94CZBK774fVsOrjCer4Yrs5I4iX_iuIPe3g/viewform?usp=sf_link" target="_blank" rel="noopener noreferrer" o-base="row--pMiddle--sMiddle--xAuto pad--x50 rhy--xStart25 pad--y25"><span>Fill out our survey</span></a>
          </aside>
        </div>
      </aside>
    </div>
  </main>
  <nav class="masthead--nav thm--dark" role="navigation" o-base="row--pStart pad--xStart50 ord--start z--masthead" o-enhanced="pad--xStart100 pad--xEnd50" o-full="gxi--c pad--xy0">   <a class="masthead-home" href="/" target="_top" o-base="row--pMiddle--sMiddle--xAuto mod--fit pad--y50 iso--xEndAuto" o-condensed="pad--y25" o-full="vx--hidden">  
      <picture>
        <source srcset="{% static 'res/logo.full.inverse.png.webp' %}" type="image/webp"><img class="site-logo" src="{% static 'res/logo.full.inverse.png' %}">
      </picture></a>
    <nav o-base="row--pStart--xAuto" o-enhanced="hl--xEnd--bTint" o-full="col--pStart hl--xy0 hl--yStart--bTint">{% url 'affiliate_list' as slug %}
      <li class="nav-item--static--icon masthead-nav-item hl--xStart--bTint" o-base="col--pStart--xAuto mod--static" o-full="hl--xy0 hl--yEnd--bTint hl--xy0 hl--yEnd--bTint"><a class="{% if slug in request.path %}is-active {% endif %} rxn--affiliates masthead-nav-ctrl tx--display--taMiddle--f1--100 fx--shift" href="{% url 'affiliate_list' %}" o-base="row--pStart--sMiddle pad--xy50 ico--md">
          <svg class="ico">
            <use xlink:href="#ico--affiliates"></use>
          </svg><span class="vx--a11y">Affiliates</span></a></li>{% url 'program_list' as slug %}
      <li class="nav-item--static--icon masthead-nav-item hl--xStart--bTint" o-base="col--pStart--xAuto mod--static" o-full="hl--xy0 hl--yEnd--bTint hl--xy0 hl--yEnd--bTint"><a class="{% if slug in request.path %}is-active {% endif %} rxn--programs masthead-nav-ctrl tx--display--taMiddle--f1--100 fx--shift" href="{% url 'program_list' %}" o-base="row--pStart--sMiddle pad--xy50 ico--md">
          <svg class="ico">
            <use xlink:href="#ico--programs"></use>
          </svg><span class="vx--a11y">Programs</span></a></li>{% url 'partner_list' as slug %}
      <li class="nav-item--static--icon masthead-nav-item hl--xStart--bTint" o-base="col--pStart--xAuto mod--static" o-full="hl--xy0 hl--yEnd--bTint hl--xy0 hl--yEnd--bTint"><a class="{% if slug in request.path %}is-active {% endif %} rxn--partners masthead-nav-ctrl tx--display--taMiddle--f1--100 fx--shift" href="{% url 'partner_list' %}" o-base="row--pStart--sMiddle pad--xy50 ico--md">
          <svg class="ico">
            <use xlink:href="#ico--partners"></use>
          </svg><span class="vx--a11y">Partners</span></a></li>
    </nav>
  </nav>
  <footer class="colophon tx--f3--100 thm--dark" role="contentinfo" o-base="pad--x50 pad--y100 rhy--yStart100 ord--end" o-standard="row--pGrid--sTop rhy--xStart100" o-enhanced="pad--x100" o-full="gxi--f pad--y200"><a class="colophon-brand" href="https://communitiesinschools.orgr/" target="_top" o-base="mod--static pad--yEnd50 iso--yEnd50 z--masthead">  
      <picture>
        <source data-srcset="{% static 'res/logo.full.inverse.png.webp' %}" type="image/webp"><img class="site-logo lazyload" data-src="{% static 'res/logo.full.inverse.png' %}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
      </picture></a>
    <div class="colophon-site" o-base="mod--balance" o-standard="col---pStart--sEnd">
      <nav class="colophon-nav hl--yEnd--bTint" o-base="pad--yEnd50 iso--yEnd50 gx--colophon" o-standard="row--pEnd--sMiddle--xAuto">
        <li class="nav-item--static colophon-nav-item" o-base="row--pStart--sMiddle--xAuto" o-standard="pad--x25 pad--xEdges0 hl--xStart--bTint"><a class="colophon-nav-ctrl co--ctrl fx--shift" href="https://www.communitiesinschools.org/" target="_blank" o-base="mod--fill pad--y10" o-condensed="tx--taMiddle pad--y0"><span>CIS.org</span></a></li>
        <li class="nav-item--static colophon-nav-item" o-base="row--pStart--sMiddle--xAuto" o-standard="pad--x25 pad--xEdges0 hl--xStart--bTint"><a class="colophon-nav-ctrl co--ctrl fx--shift" href="https://resources.communitiesinschools.org" target="_blank" o-base="mod--fill pad--y10" o-condensed="tx--taMiddle pad--y0"><span>Resources</span></a></li>
        <li class="nav-item--static colophon-nav-item" o-base="row--pStart--sMiddle--xAuto" o-standard="pad--x25 pad--xEdges0 hl--xStart--bTint"><a class="colophon-nav-ctrl co--ctrl fx--shift" href="https://www.communitiesinschools.org/terms/" target="_blank" o-base="mod--fill pad--y10" o-condensed="tx--taMiddle pad--y0"><span>Terms of Service</span></a></li>
        <li class="nav-item--static colophon-nav-item" o-base="row--pStart--sMiddle--xAuto" o-standard="pad--x25 pad--xEdges0 hl--xStart--bTint"><a class="colophon-nav-ctrl co--ctrl fx--shift" href="https://www.communitiesinschools.org/privacy-policy/" target="_blank" o-base="mod--fill pad--y10" o-condensed="tx--taMiddle pad--y0"><span>Privacy Policy</span></a></li>
        <li class="nav-item--static colophon-nav-item" o-base="row--pStart--sMiddle--xAuto" o-standard="pad--x25 pad--xEdges0 hl--xStart--bTint"><a class="colophon-nav-ctrl co--ctrl fx--shift" href="https://www.communitiesinschools.org/contact-us/" target="_blank" o-base="mod--fill pad--y10" o-condensed="tx--taMiddle pad--y0"><span>Contact Us</span></a></li>
        <li class="nav-item--static colophon-nav-item" o-base="row--pStart--sMiddle--xAuto" o-standard="pad--x25 pad--xEdges0 hl--xStart--bTint"><a class="colophon-nav-ctrl co--ctrl fx--shift" href="{% url 'admin:index' %}" target="_blank" o-base="mod--fill pad--y10" o-condensed="tx--taMiddle pad--y0"><span>Admin</span></a></li>
      </nav>
      <address class="contactinfo--inline" o-condensed="rhy--yStart25">
        <div class="contactinfo-group" o-base="col--pStart" o-condensed="row--pEnd">
          <h5 class="contactinfo-item--name">Communities In Schools<a href="https://plus.google.com/113213116668578078182" rel="publisher">  </a>
          </h5>
          <div class="contactinfo-item--address" o-condensed="pad--xStart25 iso--xStart25 hl--xStart--bTint">2345 Crystal Drive, Suite 700
Arlington, VA 22202
            
          </div>
        </div>
        <div class="contactinfo-group" o-base="col--pStart" o-condensed="row--pEnd"><a class="contactinfo-item--tel" href="tel:#{ contact.tel.href }" target="_top">Tel:&nbsp;800 CIS 4KIDS (800-247-4543)
            </a><a class="contactinfo-item--email" href="mailto:#{ contact.email }" target="_top" o-condensed="pad--xStart25 iso--xStart25 hl--xStart--bTint">E-mail:&nbsp;info@cisnet.org</a></div>
      </address>
    </div>
  </footer>{% include 'includes/footer_js.html' %}
</body>