extends _abstract

block instance
    -
        vefa
            .define({
                class: "ico--bn",
                data: {
                    title: "Basic Needs Icon",
                    viewBox: "0 0 500 500" 
                }
            })


block bd
    path(
        d="M250,24.5c30.5,0,60,6,87.8,17.7c26.8,11.3,50.9,27.6,71.7,48.3s37,44.8,48.3,71.7 c11.8,27.8,17.7,57.3,17.7,87.8s-6,60-17.7,87.8c-11.4,26.9-27.6,51-48.3,71.7s-44.8,37-71.7,48.3 c-27.8,11.8-57.3,17.7-87.8,17.7s-60-6-87.8-17.7c-26.9-11.4-51-27.6-71.7-48.3s-37-44.8-48.3-71.7C30.4,310,24.5,280.5,24.5,250 s6-60,17.7-87.8c11.3-26.8,27.6-51,48.3-71.7s44.8-37,71.7-48.3C190,30.4,219.5,24.5,250,24.5 M250,4.8 C114.6,4.8,4.8,114.6,4.8,250S114.6,495.2,250,495.2S495.2,385.4,495.2,250S385.4,4.8,250,4.8L250,4.8z"
    )
    path(
        d="M363.2,156.5h-53.2l-17.7-30.5c0,0-2-3.9-7.9-3.9h-68.9c-5.9,0-7.9,3.9-7.9,3.9l-17.7,30.5h-53.2 c-12.8,0-23.6,10.8-23.6,23.6v154.6c0,12.8,10.8,23.6,23.6,23.6h226.5c12.8,0,23.6-10.8,23.6-23.6V180.1 C386.9,167.3,376,156.5,363.2,156.5z M216.5,138.7c0,0,2-3.9,7.9-3.9h50.2c5.9,0,7.9,3.9,7.9,3.9l10.8,17.7h-86.7L216.5,138.7z M312,276.6h-41.4V318h-40.4v-41.4h-41.4v-40.4h41.4v-41.4h40.4v41.4H312V276.6z"
    )
