extends _abstract

block model
    -
        icon
            .define({
                element: {
                    class: "ico--ccr",
                }           
            })
            .data({
                title: "College and Career Readiness",
                viewBox: "0 0 500 500" 
            })



block bd
    path(
        d="M250,24.5c30.5,0,60,6,87.8,17.7c26.8,11.3,50.9,27.6,71.7,48.3s37,44.8,48.3,71.7 c11.8,27.8,17.7,57.3,17.7,87.8s-6,60-17.7,87.8c-11.4,26.9-27.6,51-48.3,71.7s-44.8,37-71.7,48.3 c-27.8,11.8-57.3,17.7-87.8,17.7s-60-6-87.8-17.7c-26.9-11.4-51-27.6-71.7-48.3s-37-44.8-48.3-71.7C30.4,310,24.5,280.5,24.5,250 s6-60,17.7-87.8c11.3-26.8,27.6-51,48.3-71.7s44.8-37,71.7-48.3C190,30.4,219.5,24.5,250,24.5 M250,4.8 C114.6,4.8,4.8,114.6,4.8,250S114.6,495.2,250,495.2S495.2,385.4,495.2,250S385.4,4.8,250,4.8L250,4.8z"
    )
    polygon(points="100.6,240.7 100.6,368 103,368 103,242     ")
    polygon(points="119.7,251.3 117.3,250 117.3,368 119.7,368     ")
    polygon(points="107.2,244.3 104.8,243 104.8,368 107.2,368     ")
    polygon(points="115.6,249 113.1,247.6 113.1,368 115.6,368     ")
    polygon(points="111.4,246.7 108.9,245.3 108.9,368 111.4,368     ")
    rect(x="99.7", y="233.4", width="24.2", height="4.5")
    path(
        d="M248.1,203c-0.1,0-0.2,0-0.2,0c-0.1,0-0.2,0-0.2,0c-45.7,0-86.1,46.6-92.2,92.7 c25.7-12.2,58.7-19.6,94.7-19.6c33.9,0,65,6.6,90,17.5C333.1,248.2,293.1,203,248.1,203z"
    )
    path(
        d="M249.2,118.7l-136.1,73.5v22.4c6,0.7,10.6,5.7,10.6,11.8H99.9c0-6.4,5-11.6,11.3-11.9v-21.3L70.9,215v9 l28,15.6V368h1.7V240.7l2.4,1.4v126h1.7V243l2.4,1.4V368h1.7V245.3l2.4,1.4V368h1.7V247.6l2.4,1.4v119h1.7V250l2.4,1.4V368h1.7 V252.3l35.3,19.7c9.4-43.3,47.8-84.6,90.9-84.6c0.1,0,0.2,0,0.2,0c0.1,0,0.2,0,0.2,0c43.6,0,82.4,42.3,91.2,86.3l88.3-49.6v-9 L249.2,118.7z M123.9,237.9H99.7v-4.5h24.2V237.9z"
    )
