extends _abstract

block instance
    -
        vefa.define({
            class: "ico--ctrl-prev",
            data: {
                title: "Previous Page icon",
                viewBox: "0 0 24 24"
            }
        })


block bd
    path(
        d="M17.956 2.456l-1.416-1.416-10.25 10.25c-0.391 0.391-0.391 1.025 0 1.416l10.25 10.25 1.416-1.416-9.541-9.541 9.541-9.544z"
    )
