.ico
    sq: 1em
    line-height: 1
    overflow: hidden

.ico--
    &base
        +o-attr(breakpoints)
            > .ico
                sq: 1em

    &xs
        +o-attr(breakpoints)
            > .ico
                sq: .75em

    &s
        +o-attr(breakpoints)
            > .ico
                sq: 1.5em

    &md
        +o-attr(breakpoints)
            > .ico
                sq: 1.75em

    &l
        +o-attr(breakpoints)
            > .ico
                sq: 2em

    &xl
        +o-attr(breakpoints)
            > .ico
                sq: 2.5em
