extends _abstract

block model
    -
        icon
            .define({
                element: {
                    class: "ico--link-ext",
                }           
            })
            .data({
                title: "External Link",
                desc: "An icon denoting a link to an external website", 
                viewBox: "0 0 32 32"
            })

block bd
    path(
        d="M22.859,22.431c0,2.13-1.729,3.858-3.858,3.858H7.854c-2.13,0-3.858-1.729-3.858-3.858V11.284c0-2.13,1.729-3.858,3.858-3.858h9.432c0.241,0,0.429,0.188,0.429,0.429v0.857c0,0.241-0.188,0.429-0.429,0.429H7.854c-1.179,0-2.144,0.965-2.144,2.144v11.146c0,1.179,0.965,2.144,2.144,2.144h11.146c1.179,0,2.144-0.965,2.144-2.144v-4.287c0-0.241,0.188-0.429,0.429-0.429h0.857c0.241,0,0.429,0.188,0.429,0.429V22.431z M28.004,13.428c0,0.469-0.389,0.857-0.857,0.857c-0.228,0-0.442-0.094-0.603-0.254l-2.358-2.358l-8.735,8.734c-0.08,0.081-0.201,0.135-0.308,0.135c-0.107,0-0.228-0.054-0.308-0.135l-1.527-1.526c-0.08-0.081-0.134-0.201-0.134-0.309s0.054-0.228,0.134-0.309l8.735-8.734l-2.357-2.358C19.523,7.01,19.43,6.796,19.43,6.568c0-0.469,0.389-0.857,0.857-0.857h6.859c0.469,0,0.857,0.389,0.857,0.857V13.428z"
    )
