extends _abstract

block model
    -
        ctrl
            .instance({
                class: "ctrl--action"
            })
            .mix({
                element: {
                    class: "tx--small--f1--100--tcU rxn--ctrl-impt fx--shift",
                    "o-base": "pad--y25 pad--x50"
                }
            })
