extends _abstract

block subclass
    -
        vefa
            .define({
                class: "ctrl--action",
            })
            .mixin({
                element: {
                    class: "tx--small--f1--100--tcU rxn--ctrl-impt fx--shift",
                    "o-base": "pad--y25 pad--x50"
                }
            })
