extends _abstract

block subclass
    -
        vefa
            .define("ctrl--action")
            .dom_mix({
                element: {
                    class: "tx--small--f1--100--tcU rxn--ctrl-impt fx--shift",
                }
            })
            .dom_switch({
                element: {
                    "o-base": ["pad--y10", "pad--y25"]
                }
            })
