extends _abstract

block subclass
    -
        vefa
            .define("ctrl--action")
            .dom_mix({
                element: {
                    class: "fx--shift",
                }
            })
            .dom_switch({
                element: {
                    "o-base": ["pad--y10", "pad--y25"]
                }
            })


prepend bd
    if ctrl.icon
        svg.ico
            use(href=`#ico--${ctrl.icon}`)
