extends _abstract

block subclass
    -
        vefa.define("link")
            .dom({
                element: {}
            })


prepend bd
    if ctrl.icon
        svg.ico
            use(href=`#ico--${ctrl.icon}`)
