extends _abstract

block subclass
    -
        vefa.define("ctrl--download")
            .data({
                label: "Download",
                file: "",
                name: ""
            })
            .dom({
                element: {
                    class: "fx--shift",
                    "o-base": "row--pMiddle--sMiddle--xAuto pad--y25 pad--x50 rhy--xStart25",
                },
            })



block view
    a(
        class=ctrl.class
        href=ctrl.file
        download=(ctrl.name) ? ctrl.name : false
    )&attributes(ctrl.element)
        
        svg.ico
            use(href=`#ico--download`)


        block bd
            span= ctrl.label

