extends _abstract

block subclass
    -
        vefa
            .define({
                class: "ctrl--download",
                data: {
                    label: "Submit",
                    file: "",
                    name: ""
                },
                element: {
                    class: "tx--small--f1--100--tcU rxn--ctrl-download fx--shift",
                    "o-base": "pad--y25 pad--x50",
                },
            })



block view
    a(
        class=ctrl.class
        href=ctrl.file
        download=(ctrl.name) ? ctrl.name : false
    )&attributes(ctrl.element)
        
        block bd
            span= ctrl.label

