extends action

block variant
    -
        vefa
            .define("ctrl--action-impt")
            .dom_mix({
                element: {
                    class: "tx--small--f3--100--tcU rxn--ctrl-impt",
                }
            })
