extends _abstract

block model
    -
        ctrl.mix({
            class: "ctrl--link-impt",
            element: {
                class: "ctrl--link-impt typ--subhed--f1--tcU rxn--ctrl-impt fx--shift",
                "o-base": "row--pMiddle--sMiddle--xAuto pad--y25 pad--x50 rhy--xStart25",
                "o-condense": "rhy--xStart50",
                "o-standard": "pad--y75 pad--x100"
            }
        })
