extends _abstract

block subclass
    -
        vefa
            .define("ctrl--action-submit")
            .data({
                name: "submit", 
                label: "Submit"
            })
            .dom_mix({
                element: {
                    class: "tx--f3 thm--tint20 rxn--shade60 fx--shift",
                    
                }
            })


block view
    button(
        type="submit"
        class=ctrl.class
        name=ctrl.name
    )&attributes(ctrl.element)
        
        block bd
            span= ctrl.label

