extends _abstract


block model
    -
        ctrl
            .define({
                element: {
                    class: "ctrl--action tx--chrome--f3--tcU rxn--ctrl-shade fx--shift",
                    "o-base": "row--pMiddle--sMiddle--xAuto pad--y25 pad--x50 rhy--xStart25",
                    "o-condense": "rhy--xStart50",
                    "o-standard": "pad-y50 pad--x100"
                },
                data: {
                    name: "submit", 
                    label: "Submit"
                }
            })



block view
    button(
        type="submit"
        name=ctrl.data.name
    )&attributes(ctrl.element)
        
        block bd
            span= ctrl.data.label

