extends _abstract

block model
    -   
        if (routes[instance]) {
            let temp = routes[instance]
            
            navigation.data({
                label: temp.title,
                target: temp.target,
                url: temp.url,
                slug: temp.slug,
                show: temp.published
            })
        }
