extends _abstract

block subclass
    if routes[instance]
        -
            let temp = routes[instance]
            
            vefa.define({
                class: "nav-item--static",
                data: {
                    text: temp.title,
                    target: temp.target || false,
                    url: temp.url,
                    slug: temp.slug || false,
                    show: temp.published
                }
            })
