extends _abstract

block subclass
    -
        vefa.define({
            class: "nav-item--static",
            data: {},
            on_instance () {
                if (routes[this.route]) {
                    this.$data = Object.assign(this.$data, routes[this.route])
                    this.$data.text = this.$data.title
                }
                else {
                    this.$data.show = false
                }
            },
            on_mount () {
                this.mixin({
                    control: {
                        class: this.add_class || ""
                    }
                })
            }
        })
