// / Generalized Grids
// -------------------------------------------------------------        
.gdx--
    +o-attr(breakpoints)
        +grid()
            display: grid
            grid-gap: 0
            grid-auto-flow: row
.gdy--
    +o-attr(breakpoints)
        +grid()
            display: grid
            grid-gap: 0
            grid-auto-flow: column

.--
    // column set up
    &gc
        for i in (1 2 3 4 5 6 7 8 9 10 11 12)
            &{i}
                +o-attr(breakpoints)
                    if i is 1
                        grid-template-columns: 1fr
                    else
                        grid-template-columns: repeat(i, 1fr)
        
        &Auto
            +o-attr(breakpoints)
                grid-template-columns: repeat(auto-fill, 1fr)

    // row set up
    &gr
        for i in (1 2 3 4 5 6 7 8 9 10 11 12)
            &{i}
                +o-attr(breakpoints)
                    if i is 1
                        grid-template-rows: 1fr
                    else
                        grid-template-rows: repeat(i, 1fr)
        &Auto
            +o-attr(breakpoints)
                grid-template-rows: repeat(auto-fill, 1fr)

    &gsMiddle
        +o-attr(breakpoints)
            align-content: center

    // grid-gap set up
    &gxy
        +o-attr(breakpoints)
            grid-gap: 1px

        for i in (0 10 25 50 75 100 150 200 250)
            &{i}
                if i is 0        
                    num = 0
                else if i is 10
                    num = .125
                else
                    num = i/100
                
                +o-attr(breakpoints)
                    grid-gap: bvr(num)

    // grid-span set u
    &gs
        for i in (2 3 4 5 6 7 8 9 10 11 12)
            &{i}
                +o-attr(breakpoints)
                    grid-area: "span 1 / span %s" % i





.gx--
    +o-attr(breakpoints)
        +grid()
            display: grid
            grid-gap: 0
            grid-template-rows: max-content

    &i1
        +o-attr(breakpoints)
            grid-template-columns: 1fr

    &i
        for i in (2 3 4 5 6 7 8 9 10 11 12)
           
            &{i}
                +o-attr(breakpoints)
                    grid-template-columns: repeat(i, minmax(0, 1fr))

// .--
//     &gsMiddle
//         +o-attr(breakpoints)
//             align-content: center
    


// Generalized Grid Items
// -------------------------------------------------------------          
.gxi--

    &a
        +o-attr(breakpoints)
            grid-area: a
        
    &b
        +o-attr(breakpoints)
            grid-area: b

    &c
        +o-attr(breakpoints)
            grid-area: c
    
    &d
        +o-attr(breakpoints)
            grid-area: d

    &e
        +o-attr(breakpoints)
            grid-area: e

    &f
        +o-attr(breakpoints)
            grid-area: f
    
    // &g
    //     +o-attr(breakpoints)
    //         grid-area: g


.gxs--
    &s2
        +o-attr(breakpoints)
            grid-area: span 1 / span 2
    
    &s3
        +o-attr(breakpoints)
            grid-area: span 1 / span 3
    
    &s4
        +o-attr(breakpoints)
            grid-area: span 1 / span 4
