// Dimensions
// -------------------------------------------------------------
.dx--
    &xFull
        +o-eq(breakpoints)
            max-content-width: config.max_site_width, bvr(2)

    &w25
        +o-eq(breakpoints)
            max-width: 25vw
            width: 25%

    &w40
        +o-eq(breakpoints)
            max-width: 40vw
            width: 40%

    &w50
        +o-eq(breakpoints)
            max-width: 50vw
            width: 50%


    &w60
        +o-eq(breakpoints)
            max-width: 60vw
            width: 60%

    &w75
        +o-eq(breakpoints)
            max-width: 75vw
            width: 75%

    &w80
        +o-eq(breakpoints)
            max-width: 80vw
            width: 80%

    &w90
        +o-eq(breakpoints)
            max-width: 90vw
            width: 90%

    &w100
        +o-eq(breakpoints)
            max-width: 100vw
            width: 100%
    
    
// Generalized Grids
// -------------------------------------------------------------        
.gx--
    +o-attr(breakpoints)
        +grid()
            display: grid
            grid-gap: 0
            grid-template-rows: max-content    

    &i1
        +o-attr(breakpoints)
            grid-template-columns: 1fr

    &i2
        +o-attr(breakpoints)
            grid-template-columns: repeat(2, minmax(0, 1fr))

    &i3
        +o-attr(breakpoints)
            grid-template-columns: repeat(3, minmax(0, 1fr))
    
    &i4
        +o-attr(breakpoints)
            grid-template-columns: repeat(4, minmax(0, 1fr))

.--
    &gxy
        +o-attr(breakpoints)
            grid-gap: 1px

    &gxy0
        +o-attr(breakpoints)
            grid-gap: 0
    &gxy10
        +o-attr(breakpoints)
            grid-gap: bvr(.125)

    &gxy25
        +o-attr(breakpoints)
            grid-gap: bvr(.25)

    &gxy50
        +o-attr(breakpoints)
            grid-gap: bvr(.5)

    &gxy100
        +o-attr(breakpoints)
            grid-gap: bvr(1)
    
    &gxy150
        +o-attr(breakpoints)
            grid-gap: bvr(1.5)

    &gxy200
        +o-attr(breakpoints)
            grid-gap: bvr(2)

    
// Generalized Grid Items
// -------------------------------------------------------------          
.gxi--

    &a
        +o-attr(breakpoints)
            grid-area: a
        
    &b
        +o-attr(breakpoints)
            grid-area: b

    &c
        +o-attr(breakpoints)
            grid-area: c
    
    &d
        +o-attr(breakpoints)
            grid-area: d

    &e
        +o-attr(breakpoints)
            grid-area: e

    &f
        +o-attr(breakpoints)
            grid-area: f
    
    &g
        +o-attr(breakpoints)
            grid-area: g


.gxs--
    &s2
        +o-attr(breakpoints)
            grid-area: span 1 / span 2
    
    &s3
        +o-attr(breakpoints)
            grid-area: span 1 / span 3
    
    &s4
        +o-attr(breakpoints)
            grid-area: span 1 / span 4
