.ord--
    &init
        +o-eq(breakpoints)
            order: -1
            
    &flow
        +o-eq(breakpoints)
            order: initial

    &start
        +o-eq(breakpoints)
            order: 0
    &next
        +o-eq(breakpoints)
            order: 1
    &end
        +o-eq(breakpoints)
            order: 100
