.pos--
    &rel
        +o-attr(breakpoints)
            position: relative

    &abs
        +o-attr(breakpoints)
            position: absolute
        &--xy
            +o-attr(breakpoints)
                top: 0
                bottom: 0
                right: 0
                left: 0
    &fix
        +o-attr(breakpoints)
            position: fixed
            
    &nil
        +o-attr(breakpoints)
            position: static
            float: none
    
