.rhy--
    
    // X values
    &x
        +o-eq(breakpoints)
            > * + *
                margin-x: 1px

    &x0
        +o-eq(breakpoints)
            > * + *
                margin-x: 0

    &x10
        +o-eq(breakpoints)
            > * + *
                margin-x: bvr(.1)
    
    &x25
        +o-eq(breakpoints)
            > * + *
                margin-x: bvr(.25)
    
    &x50
        +o-eq(breakpoints)
            > * + *
                margin-x: bvr(.5)
    
    &x100
        +o-eq(breakpoints)
            > * + *
                margin-x: bvr()
    
    &x150
        +o-eq(breakpoints)
            > * + *
                margin-x: bvr(1.5)

    &x200
        +o-eq(breakpoints)
            > * + *
                margin-x: bvr(2)

    
    
    // X Start values (left)
    &xStart
        +o-eq(breakpoints)
            > * + *
                margin-left: 1px

    &xStart0
        +o-eq(breakpoints)
            > * + *
                margin-left: 0

    &xStart10
        +o-eq(breakpoints)
            > * + *
                margin-left: bvr(.1)
    
    &xStart25
        +o-eq(breakpoints)
            > * + *
                margin-left: bvr(.25)
    
    &xStart50
        +o-eq(breakpoints)
            > * + *
                margin-left: bvr(.5)
    
    &xStart100
        +o-eq(breakpoints)
            > * + *
                margin-left: bvr()
    
    &xStart150
        +o-eq(breakpoints)
            > * + *
                margin-left: bvr(1.5)

    &xStart200
        +o-eq(breakpoints)
            > * + *
                margin-left: bvr(2)

    
  
    // X End values (right)
    &xEnd
        +o-eq(breakpoints)
            > * + *
                margin-right: 1px

    &xEnd0
        +o-eq(breakpoints)
            > * + *
                margin-right: 0

    &xEnd10
        +o-eq(breakpoints)
            > * + *
                margin-right: bvr(.1)
    
    &xEnd25
        +o-eq(breakpoints)
            > * + *
                margin-right: bvr(.25)
    
    &xEnd50
        +o-eq(breakpoints)
            > * + *
                margin-right: bvr(.5)
    
    &xEnd100
        +o-eq(breakpoints)
            > * + *
                margin-right: bvr()
    
    &xEnd150
        +o-eq(breakpoints)
            > * + *
                margin-right: bvr(1.5)

    &xEnd200
        +o-eq(breakpoints)
            > * + *
                margin-right: bvr(2)


        
    // Y values
    &y
        +o-eq(breakpoints)
            > * + *
                margin-y: 1px

    &y0
        +o-eq(breakpoints)
            > * + *
                margin-y: 0

    &y10
        +o-eq(breakpoints)
            > * + *
                margin-y: bvr(.1)
    
    &y25
        +o-eq(breakpoints)
            > * + *
                margin-y: bvr(.25)
    
    &y50
        +o-eq(breakpoints)
            > * + *
                margin-y: bvr(.5)
    
    &y100
        +o-eq(breakpoints)
            > * + *
                margin-y: bvr()
    
    &y150
        +o-eq(breakpoints)
            > * + *
                margin-y: bvr(1.5)

    &y200
        +o-eq(breakpoints)
            > * + *
                margin-y: bvr(2)
    


    // Y Start values (Top)
    &yStart
        +o-eq(breakpoints)
            > * + *
                margin-top: 1px

    &yStart0
        +o-eq(breakpoints)
            > * + *
                margin-top: 0

    &yStart10
        +o-eq(breakpoints)
            > * + *
                margin-top: bvr(.1)
    
    &yStart25
        +o-eq(breakpoints)
            > * + *
                margin-top: bvr(.25)
    
    &yStart50
        +o-eq(breakpoints)
            > * + *
                margin-top: bvr(.5)
    
    &yStart100
        +o-eq(breakpoints)
            > * + *
                margin-top: bvr()
    
    &yStart150
        +o-eq(breakpoints)
            > * + *
                margin-top: bvr(1.5)

    &yStart200
        +o-eq(breakpoints)
            > * + *
                margin-top: bvr(2)
            
    

    // Y End values (Bottom)
    &yEnd
        +o-eq(breakpoints)
            > * + *
                margin-bottom: 1px

    &yEnd0
        +o-eq(breakpoints)
            > * + *
                margin-bottom: 0

    &yEnd10
        +o-eq(breakpoints)
            > * + *
                margin-bottom: bvr(.1)
    
    &yEnd25
        +o-eq(breakpoints)
            > * + *
                margin-bottom: bvr(.25)
    
    &yEnd50
        +o-eq(breakpoints)
            > * + *
                margin-bottom: bvr(.5)
    
    &yEnd100
        +o-eq(breakpoints)
            > * + *
                margin-bottom: bvr()
    
    &yEnd150
        +o-eq(breakpoints)
            > * + *
                margin-bottom: bvr(1.5)

    &yEnd200
        +o-eq(breakpoints)
            > * + *
                margin-bottom: bvr(2)
