.thm--
    &shade
        _black = co.black ? co.black : #000
        
        for i in (1..19)
            num = 5 * i
            &{num}
                +o-eq(breakpoints)
                    background-color: 'rgba(%s, %s%)' % (_black num)

        // get darker as objects stack to one another
        &-nx
            +o-eq(breakpoints)
                background-color: rgba(_black, 20%)
            
                &:nth-of-type(n + 2)
                    background-color: rgba(_black, 40%)

                &:nth-of-type(n + 3)
                    background-color: rgba(_black, 60%)

    
    &tint
        _white = co.white ? co.white : #FFF

        for i in (1..19)
            num = 5 * i
            &{num}
                +o-eq(breakpoints)
                    background-color: 'rgba(%s, %s%)' % (_white num)
        
        // get lighter as objects stack to one another
        &-nx
            +o-eq(breakpoints)
                background-color: rgba(_white, 20%)
            
                &:nth-of-type(n + 2)
                    background-color: rgba(_white, 40%)

                &:nth-of-type(n + 3)
                    background-color: rgba(_white, 60%)
