.--
    // Font Weight
    for i in (1..9)
        num = i * 100
        &{num}
            +o-attr(breakpoints)
                font-weight: num
    
    &ls50
        +o-attr(breakpoints)
            letter-spacing: .04em

    &ls100
        +o-attr(breakpoints)
            letter-spacing: .08em
       
    
    
    // Text Transform
    &tc0
        +o-attr(breakpoints)
            text-transform: unset

    &tcC
        +o-attr(breakpoints)
            text-transform: capitalize
    &tcU
        +o-attr(breakpoints)
            text-transform: uppercase

    
    
    // text align
    &taStart
        +o-attr(breakpoints)
            text-align: center

    &taMiddle
        +o-attr(breakpoints)
            text-align: center
    
    &taEnd
        +o-attr(breakpoints)
            text-align: right

    &taJust--sStart
        +o-attr(breakpoints)
            text-align: justify

    &taJust--sMiddle
        +o-attr(breakpoints)
            text-align: justify
            text-align-last: center

    &taJust--sEnd
        +o-attr(breakpoints)
            text-align: justify
            text-align-last: right
    

    
    // Text Decoration
    &td0
        +o-attr(breakpoints)
            text-decoration: unset

    &tdU
        +o-attr(breakpoints)
            text-decoration: underline
    

    
    //  Specials
    &aa
        +o-attr(breakpoints)
            -webkit-font-smoothing: antialiased
 
    &trnc
        +o-attr(breakpoints)
            truncate()
    