[v-cloak]
    display: none !important
    
.vx--
    &a11y
        +o-eq(breakpoints)
            position: absolute !important
            left: -100vw
            width: 0
            clip: rect(0,0,0,0)
            overflow: hidden

    &hidden
        +o-eq(breakpoints)
            visibility: hidden
            display: none

    &shown
        +o-eq(breakpoints)
            visibility: visible
            display: flex

    &z100
        box-shadow: 
            0 1px 3px bl(12%),
            0 1px 2px bl(24%)

    &z200
        box-shadow:
            0 3px 6px bl(16%), 
            0 3px 6px bl(23%)

    &z300
        box-shadow:
            0 10px 20px bl(19%),
            0 6px 6px bl(23%)

    &z400
        box-shadow:
            0 14px 28px bl(25%),
            0 10px 10px bl(22%)
    &z500
        box-shadow:
            0 19px 38px bl(30%),
            0 15px 12px bl(22%)
