.z--
    &back
        +o-eq(breakpoints)
            z-index: -1
            
    &above
        +o-eq(breakpoints)
            z-index: 100
    
    &stacked
        +o-eq(breakpoints)
            z-index: 200
    
    &masthead
        +o-eq(breakpoints)
            z-index: 300
    
    &nav
        +o-eq(breakpoints)
            z-index: 400
    
    &overlay
        +o-eq(breakpoints)
            z-index: 500
    
    &modal
        +o-eq(breakpoints)
            z-index: 600
