// base containers
+html()
    background: co.bkg.base
    // relative-type: base    
    get-type: base

    +over(2200px)
        font-size: 200%

+body()
    color: co.copy.base
    stack: copy

main
    order: 2
    set-flex-size: fill

    // +taller-than(768px)
    //     min-height: 70vh


.gx--ui
    +o-eq(breakpoints)
        grid-template-columns: 80px 2fr 2fr
        grid-template-rows: auto 1fr auto
        grid-template-areas: 
            "a b b" \
            "c d d" \
            "c e e" \
            "f f f"


.gx--search
    // grid-template-columns: 1fr
    
    grid-template-areas: 
        "a" \
        "b"
    

    +over(enhanced)
        grid-template-columns: 20vw 1fr
        grid-template-rows: auto max-content
        grid-template-areas: 
            "a b" \
            "a c"


.gx--profile
    // grid-template-columns: 1fr
    // grid-template-areas: 
    //     "a" \
    //     "b" \
    //     "c"
    
    // +over(standard)
    //     grid-template-columns: repeat(3, 1fr)
    //     grid-template-areas: 
    //         "b a a" \
    //         "c c c"

    +over(full)
        grid-template-columns: minmax(250px, 500px) 5fr
        grid-template-rows: auto max-content
        grid-template-areas: 
            "a b" \
            "a c"



.gxi--
    &title
        +o-attr(breakpoints)
            grid-area: title
    &overview
        +o-attr(breakpoints)
            grid-area: overview
    &services
        +o-attr(breakpoints)
            grid-area: services
    &network
        +o-attr(breakpoints)
            grid-area: network
    &service-tier
        +o-attr(breakpoints)
            grid-area: service-tier
    &ebr
        +o-attr(breakpoints)
            grid-area: ebr
    &state
        +o-attr(breakpoints)
            grid-area: state
    &location
        +o-attr(breakpoints)
            grid-area: location
    &students
        +o-attr(breakpoints)
            grid-area: students
    &budget
        +o-attr(breakpoints)
            grid-area: budget
    &info
        +o-attr(breakpoints)
            grid-area: info
    &demographics
        +o-attr(breakpoints)
            grid-area: demographics
    &addtional
        +o-attr(breakpoints)
            grid-area: additional
    
    

.strata--detail
    .detail-copy
        grid-auto-rows: 1fr
