extends /page_types/list

block instance
    -
        vefa.data({
            title: programs.title,
            slug: routes.programs.slug,
            summary: programs.summary,
            results_collection: programs.fixtures,
            poster_color: "co--programs",
            icon: "programs",
            list_type: "programs"
        })


block summary
    :md
        Evidence-based programming is a great resource for members of the CIS network family to effectively serve case-managed students and schools. This tool allows CIS practitioners and managers to search by:
    
        - Student demographics, characteristics, or needs of your students.
        - Tier of service, if the program is being implemented in the network, program costs, and tier of evidence.
        
        Programs with a higher tier of evidence will be indicated by a fully-colored CIS logo in the search results.


block form
    include /programs/components/fm--search-program


block results
    if django
        
        +for("program in programs.object_list")
            include components/card--result-program

            +empty()
                p No matching programs.
