extends /site/list

block instance
    -
        vefa.data({
            title: programs.title,
            summary: programs.summary,
            
            impact_color: "co--programs",
            impact_theme: "thm--programs",
            icon: "programs",
            content_type: "programs",
            num_of_results: "num_of_results",

            slug: routes.programs.slug,
            results_collection: programs.fixtures,
            
        })

block form
    include /programs/components/fm--search-program


block results
    +for("program in programs.object_list")
        include components/card--result-program

        +empty()
            p No matching programs.
