.gx--result-programs
    grid-template-columns: 50% 50%
    grid-template-rows: repeat(4, max-content)
    grid-template-areas:
        "title title" \
        "network network" \
        "overview overview" \
        "ebr services"
    grid-gap: 1px
        
    +over(compressed)
        grid-template-areas:
            "title      title       network" \
            "overview   overview    overview" \
            "ebr        services    services"
        grid-template-columns: minmax(100px, 180px) 1fr minmax(0, max-content)
        grid-template-rows: repeat(3, max-content)

    +over(enhanced)
        grid-template-areas:
            "title      title  network" \
            "overview   ebr    services"
        grid-template-columns: 1fr minmax(100px, 180px) minmax(150px, 250px)
        grid-gap: 3px
