extends /_vefa

block init
    -
        vefa = new Vefa("poster")
            .dom({
                element: {
                    "o-base": "pad--xStart50 pad--y100",
                    "o-condensed": "pad--y150",
                    "o-enhanced": "pad--xStart100 pad--y200"
                },
                hed: {
                    class: "tx--broadside--f1--tcU",
                },
            })

block view
    header(
        class=poster.class
    )&attributes(poster.element)
        block hdr
        
        block bd
            if poster.title
                h1.poster-hed&attributes(poster.hed)
                    != poster.title
        
        block ftr
