extends _abstract


block variant
    -
        vefa
            .define({
                class: "poster--icon",
            })
            .mixin({
                element: {
                    class: "row--pStart--sMiddle gx--poster tx--broadside"
                },
                hed: {
                    "o-base": "gxi--b"
                }
            })


prepend bd
    svg.ico.poster-icon(
        o-base="gxi--a"
    )
        use(xlink:href=`#ico--${poster.icon}`)
