extends text


block variant
    -
        vefa
            .define({
                class: "poster--icon",
            })
            .mixin({
                element: {
                    class: "gx--poster"
                },
                hdr: {
                    "o-base": "gxi--b"
                }
            })


prepend hdr
    if poster.icon
        span.poster-icon.tx--broadside(
            o-base="gxi--a"
        )
            svg.ico
                use(href=`#ico--${poster.icon}`)
