.poster--
    +o-attr(class)
        position: relative
        overflow: hidden
        
       
        // &:not(:root:root) 
        //     set-flex-size: fill
    
    &text
        +o-eq(class)
            overflow: visible
    
    &icon
    &details
        grid-template-columns: auto 1fr 1fr
        grid-template-areas:
            ". d d" \
            "a b b" \
            "a c c"
        grid-gap: 0 bvr(.25)

        +over(standard)
            grid-gap: 0 bvr(.5)



.poster-icon
    line-height: 1

.poster-crumbs
    margin-top: -24px
// .poster-icon
//     transform: translateY(1px)
// .poster-hed
//     transform: translateY(bvr(.25))
