extends _abstract

block subclass
    -
        vefa
            .define({
                class: "poster--text",
                data: {
                    title: wrap_str("Generic")
                }
            })


block instance
    yield


block hdr
    //- add django typogrify at some point
    header.hdr&attributes(poster.hdr)
        h1.hdr-hed&attributes(poster.hed)
            != v(poster.title)
                
