extends _abstract

block subclass
    -
        vefa
            .define("poster--text")
                .data({
                    title: "Generic"
                })
                .dom_mix({
                    element: {
                        "o-base": "row--pStart--sMiddle"
                    }
                })
