extends _abstract

block subclass
    -
        vefa
            .define({
                class: "poster--text",
                data: {
                    title: "Generic"
                }
            })
            .mixin({
                element: {
                    "o-base": "row--pStart--sMiddle"
                }
            })
