extends /_vefa

block init
    -
        vefa = new Vefa("strata")
    

//- make sure that the yielded content doesnt go to the vefa abstract
//- block instance

block view
    div(
        class=strata.class
    )&attributes(strata.element)
        
        block bd
        if pug_mixins.strata_view
            +strata_view()


block teardown
    if pug_mixins.strata_view
        - delete pug_mixins.strata_view
