extends strata

block component
    -
        vefa
            .dom_switch({
                element: {
                    "o-base": ["col--pStart", "mod--balance col--pMiddle--sMiddle"]
                }
            })
