extends _abstract

block model
    -
        strata = strata
            .replace({
                element: {
                    "o-base": "col--pStart pad--xy50 rhy--yStart100",
                    "o-enhanced": "pad--xy100"
                }
            })


