extends _abstract


block subclass
    -
        vefa
            .dom({
                element: {
                    "o-base": "col--pStart pad--xy50 rhy--yStart100",
                    "o-enhanced": "pad--xy100"
                }
            })
