extends _abstract

block subclass
    -
        strata
            .define({
                element: {
                    "o-base": "col--pStart pad--xy50 rhy--yStart100",
                    "o-enhanced": "pad--xy100"
                }
            })


