include /_vefa
-
    form_field = form_field || new Vefa()

    if (form && form.field) {
        form_field
            .mix(form.field)
    }

    if (field) {
        form_field
            .data(field)
    }

    form_field
        .define({
            element: {
                "o-base": "col--pStart rhy--yStart10"
            }
        })


block model
- form_field = form_field.$freeze()



block view
    div(
        class=form_field.class
    )&attributes(form_field.element)
        
        block hdr
            label(
                for=`id_${ form_field.data.name }_${ index }`
            )&attributes(form_field.label)
                = form_field.data.label
            
        
        block bd
        
        block ftr



- form_field = form_field.$thaw()
