extends fm-field--single


block variant
    -
        vefa.data({
                type: "checkbox",
            }) 
            .computed({
                validator () {
                    return `choice_value|safe in ${ this.value } or choice_value in ${ this.value }`
                }
            })

block input_int
    +if(field.validator)
        input(checked=true)&attributes(field.input_attrs)

        +else()
            input&attributes(field.input_attrs)
