extends fm-field--multi

block variant
    -
        vefa.define({
            control: {
                class: "tx--small--f3--ls100 rhy--xStart50 rxn--shade60 fx--shift ico--xl",
                "o-base": "row--pStart--sMiddle pad--x50 pad--y25 rhy--xStart25",
            }, 
        })


block input_ext
    +if(field.validator)
        input.vx--a11y(checked=true)&attributes(field.input_attrs)

        +else()
            input.vx--a11y&attributes(field.input_attrs)


block input_int
    svg.ico(
        o-base="mod--static"
    )
        use(xlink:href=`#ico--${ v(`choice_value`) }`)
