//- extends fm-field--multi

//- block variant
//-     -
//-         vefa.define({
//-             class: 'fm-field--multi-block',
//-         })

//- block input_ext
//-     +if(vefa.validator)
//-         input.vx--a11y(checked=true)&attributes(vefa.input_attrs)

//-         +else()
//-             input.vx--a11y&attributes(vefa.input_attrs)


//- block input_int
