extends fm-field--multi-block

prepend label
    if django
        +dynamic_include(`icons/`, 'choice_value')
    
    //- else
    //-     case icon_type
    //-         when "aa"
    //-             include /icons/aa
    //-         when "bn"
    //-             include /icons/bn
    //-         when "bi"
    //-             include /icons/bi
    //-         when "ccp"
    //-             include /icons/ccp
    //-         when "csl"
    //-             include /icons/csl
    //-         when "en"
    //-             include /icons/en
    //-         when "fe"
    //-             include /icons/fe
    //-         when "ls"
    //-             include /icons/ls
    //-         when "pmh"
    //-             include /icons/pmh
    //-         when "pph"
    //-             include /icons/pph
    //-         default
    //-             = ""
