extends fm-field--multi

append variant
    -
        vefa.define({
            field_control: {
                "o-base": "row--pStart--sMiddle pad--x50 pad--y25 rhy--xStart25",
            }, 
        }).mixin({
            field_control: {
                class: "ico--xl"
            }
        })


block input_ext
    +if(field.validator)
        input.vx--a11y(checked=true)&attributes(field.input_attrs)

        +else()
            input.vx--a11y&attributes(field.input_attrs)


block input_int
    svg.ico(
        o-base="mod--static"
    )
        use(xlink:href=`#ico--${ v(`choice_value`) }`)
