extends fm-field--single


block variant
    -
        vefa.define({
            computed: {
                choices () {
                    return `choice_value, choice_label in form.${this.name}.field.widget.choices`
                },
            }
        })



block choices
    +cycle("None True False as value silent")
            
    label(
        for=field.uid
        v-check="true"
    )&attributes(field.control)
        
        +ifequal(field.value, 'value')
            input(checked=true)&attributes(field.input_attrs)
            
            +else()
                input&attributes(field.input_attrs)

        span&attributes(field.control_label)  
            = v(field.choice.label)
