extends /site/list

block instance
    -
        vefa.define("list--affilites")
            .data({
                title: affiliates.title,
                impact_color: "co--affiliates",
                impact_theme: "thm--affiliates",
                icon: "affiliates",
                content_type: "affiliates",
                num_of_results: "num_of_results",

                slug: routes.affiliates.slug,
                summary: affiliates.summary,
                results_collection: affiliates.fixtures,     
            })


block form
    include /affiliates/components/fm--search-affiliate


block results    
    +for('affiliate in affiliates.object_list')
        include /affiliates/components/card--result-affiliate
        
        +empty()
            .tx--subhed.thm--shade5.co--affiliates.hl--yStart--bColor.vx--z100(
                o-base="pad--xy100"
            )
                p.co--copy No matching affiliates
