extends /page_types/list

block instance
    -
        vefa
            .data({
                title: affiliates.title,
                slug: routes.affiliates.slug,
                summary: affiliates.summary,
                results_collection: affiliates.fixtures,
                poster_color: "co--affiliates",
                icon: "affiliates",                
                list_type: "affiliates"
            })



block form
    include /affiliates/components/fm--search-affiliate


block results
    if django
        
        +for('affiliate in affiliates.object_list')
            include components/card--result-affiliate

            +empty()
                p No matching affiliates
