extends /site/list

block instance
    -
        vefa
            .data({
                title: affiliates.title,
                impact_color: "co--affiliates",
                impact_theme: "thm--affiliates",
                icon: "affiliates",
                content_type: "affiliates",

                slug: routes.affiliates.slug,
                summary: affiliates.summary,
                results_collection: affiliates.fixtures,     
            })



block form
    include /affiliates/components/fm--search-affiliate


block results
    +for('affiliate in affiliates.object_list')
        include /affiliates/components/card--result-affiliate

        +empty()
            p No matching affiliates
