extends /site/list

block props
    - 
        page.data({
            title: affiliates.title,
            slug: routes.affiliates.slug,
            summary: affiliates.summary,
            results_collection: affiliates.fixtures,
            icon: "affiliates"
        })

prepend preview
    -
        poster = new Vefa()
        poster.mix({
            element: {
                class: "co--affiliates",
            }
        })


prepend form
    - 
        form = new Vefa()
            .instance({
                element: {
                    class: "thm--affiliates"
                },
            })
            .data({
               fieldsets: affiliates.fm_search
            })



block results
    div(
        o-base="rhy--yStart100"
    )
        for item in page.data.results_collection
            include affiliates_result
