.gx--detail-affiliate
    grid-template-columns: 1fr
    grid-template-areas: 
        "a" \
        "b" \
        "c"
    
    +over(standard)
        grid-template-columns: repeat(3, 1fr)
        grid-template-areas: 
            "b a a" \
            "c c c"

    +over(full)
        grid-template-columns: 1fr 2fr
        grid-template-areas: 
            "a b" \
            "c c"

.gx--result-affiliate
    grid-template-areas:
        "title      title" \
        "state      profile" \
        "students   students" \
        "budget     budget"
    grid-template-columns: 2fr 1fr 
    grid-auto-rows: max-content
    grid-gap: 1px
    
    +over(compressed)
        grid-template-areas:
            "title title title title" \
            "state state state profile" \
            "students students budget budget"
        grid-template-columns: repeat(4, 25%)

    // +over(condensed)
    //     grid-template-areas:
    //         "title title title title profile" \
    //         "state students students budget budget"
    //     grid-template-columns: repeat(5, 1fr)

    +over(enhanced)
        grid-template-areas:
            "title title title profile" \
            "state state students budget"
        grid-template-columns: repeat(4, 1fr)
        grid-gap: 3px
