extends /site/list

block instance
    -
        vefa.define("list--affilites")
            .data({
                title: affiliates.title,
                impact_color: "co--affiliates",
                impact_theme: "thm--affiliates",
                icon: "affiliates",
                content_type: "affiliates",
                results: "affiliates.object_list",

                slug: routes.affiliates.slug,
                summary: affiliates.summary,
                results_collection: affiliates.fixtures,     
            })


block summary    
    :md
        Communities In Schools works in 164 communities, 363 school districts reaching 1.5 million students across the country. The CIS Affiliate Search Tool 
        is here for CIS affiliates to search for and connect to peer CIS organizations based on demographic search criteria. With questions, reach out to [XYZ@cisnet.org](mailto:XYZ@cisnet.org)

block form
    include /affiliates/components/fm--search-affiliate


block results    
    +for('affiliate in affiliates.object_list')
        include /affiliates/components/card--result-affiliate
        
        +empty()
            .tx--subhed.thm--shade5.co--affiliates.hl--yStart--bColor.vx--z100(
                o-base="pad--xy100"
            )
                p.co--copy No matching affiliates
